$transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
$transition-duration: 0.4s;

$color-primary-main: #A32768;

$color-dark-85-white: #DCDDDE;
$color-dark-100-white: #FFFFFF;

$color-info-main: #5DA7C0;

$color-success-main: #2C9445;

$color-error-main: #C4234A;

$color-warning-dark-01: #D3822B;

$color-primary: #AE1164;

$color-light: #E0E0E8;
$color-light-400: #ECECF1;

$color-dark: #131C26;
$color-dark-400: #71767C;
