$transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
$transition-duration: 0.4s;

$color-primary-100: #391b79;
$color-primary-80: #4e24a5;
$color-primary-60: #612dcd;
$color-primary-40: #7f53da;
$color-primary-5: #cfbef1;
$color-primary-0: #e7def8;

$color-primary-alt-80: #7742d5;
$color-primary-alt-40: #b497e8;

$color-neutral-240: #0e1216;
$color-neutral-200: #3e4145;
$color-neutral-160: #6e7173;
$color-neutral-60: #e7e7e8;
$color-neutral-50: #ececec;
$color-neutral-30: #f5f6f6;
$color-neutral-10: #ffffff;

$color-info-100: #003f63;
$color-info-80: #19628f;
$color-info-5: #edf2f7;

$color-success-100: #146d00;
$color-success-80: #378f19;

$color-error-80: #ba2124;

$color-warning-110: #a85000;
$color-warning-80: #dc8004;
$color-warning-10: #fcefde;

$gradient-primary: linear-gradient(90deg, $color-primary-80 40%, $color-primary-alt-40 100%);

$shadow-tile: 4px 22px 47px rgba($color-primary-alt-80, 0.05);
$shadow-tile-hover: 0 22px 24px 0 rgba($color-primary-alt-80, 0.15);

// Aliase
$color-primary: $color-primary-80;
$color-primary-main: $color-primary-80;
$color-dark: $color-neutral-240;
$color-dark-400: $color-neutral-160;
$color-light: $color-neutral-60;
$color-light-400: $color-neutral-50;
$color-dark-85-white: $color-neutral-60;
$color-dark-100-white: $color-neutral-10;
$color-error-main: $color-error-80;

$color-headless: $color-error-80;
$color-experience: $color-warning-110;
$color-commerce: $color-primary-80;
$color-lts-update: $color-info-80;
$color-new-feature: $color-success-100;
$color-first-release: $color-success-100;
$color-new-doc: $color-info-80;
