@use 'variables';
@use 'sass:list';

.pill {
    font-size: 12px;
    padding: 1px 8px;
    border: 1px solid;
    margin-right: 8px;
    color: variables.$color-primary-main;

    $types: (
        "headless": (variables.$color-error-main, "Headless"),
        "experience": (variables.$color-warning-dark-01, "Experience"),
        "commerce": (variables.$color-primary-main, "Commerce"),
        "lts-update": (variables.$color-info-main, "LTS Update"),
        "new-feature": (variables.$color-success-main, "New feature")
      );
      
      @each $name, $values in $types {
        $color: list.nth($values, 1);
        $label: list.nth($values, 2);
      
        &--#{$name} {
          color: $color;
          border-color: $color;
      
          &::after {
            content: "#{$label}";
          }
        }
    }

    &--inline {
        margin-left: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    &--new {
      margin-right: 15px;
      color: #d9e8ff;
      color: #3562a0;
      text-transform: lowercase;
    }
}

div.pills {
  float: right;
}

// Used in reference only?
// .md-typeset .content-header .pills {
//   float: none;
//   width: 100%;
// }

// .md-typeset .content-header .pill {
//   display: inline-block;
//   margin-bottom: 12px;
//   font-size: 12px;
//   line-height: 18px;
//   padding: 0 8px;
//   background-color: transparent;
// }
