@use 'sass:list';

.pill {
    font-size: 12px;
    font-weight: initial;
    line-height: 18px;
    padding: 1px 8px;
    border: 1px solid;
    margin-right: 8px;
    color: var(--cohesivo-primary-80);

    $types: (
        "headless": (var(--cohesivo-error-80), "Headless"),
        "experience": (var(--cohesivo-warning-110), "Experience"),
        "commerce": (var(--cohesivo-primary-80), "Commerce"),
        "lts-update": (var(--cohesivo-info-80), "LTS Update"),
        "new-feature": (var(--cohesivo-success-100), "New feature"),
        "first-release": (var(--cohesivo-success-100), "First release")
      );
      
      @each $name, $values in $types {
        $color: list.nth($values, 1);
        $label: list.nth($values, 2);
      
        &--#{$name} {
          color: $color;
          border-color: $color;
      
          &::after {
            content: "#{$label}";
          }
        }
    }

    &--inline {
      &:first-of-type {
        margin-left: 8px;
      }
    }

    &--new {
      margin-right: 15px;
      align-self: center;
      color: var(--cohesivo-info-80);
      text-transform: lowercase;
    }
}

div.pills {
  float: right;
}
