@use 'variables';
@use 'sass:list';

.pill {
    font-size: 12px;
    font-weight: initial;
    line-height: 18px;
    padding: 1px 8px;
    border: 1px solid;
    margin-right: 8px;
    color: variables.$color-primary-main;

    $types: (
        "headless": (variables.$color-headless, "Headless"),
        "experience": (variables.$color-experience, "Experience"),
        "lts-update": (variables.$color-lts-update, "LTS Update"),
        "new-feature": (variables.$color-new-feature, "New feature"),
        "first-release": (variables.$color-first-release, "First release")
      );
      
      @each $name, $values in $types {
        $color: list.nth($values, 1);
        $label: list.nth($values, 2);
      
        &--#{$name} {
          color: $color;
          border-color: $color;
      
          &::after {
            content: "#{$label}";
          }
        }
    }

    &--inline {
      &:first-of-type {
        margin-left: 8px;
      }
    }

    &--new {
      margin-right: 15px;
      align-self: center;
      color: variables.$color-new-doc;
      text-transform: lowercase;
    }
}

div.pills {
  float: right;
}
