{
    "AttributeList": {
        "_media-type": "application/vnd.ibexa.api.AttributeList+json",
        "Attribute": [
            {
                "_media-type": "application/vnd.ibexa.api.Attribute+json",
                "identifier": "attrib1",
                "name": "Attrib1",
                "description": "",
                "type": "Checkbox",
                "group": "Attribute Group Test",
                "position": 0,
                "options": ""
            },
            {
                "_media-type": "application/vnd.ibexa.api.Attribute+json",
                "identifier": "attrib2",
                "name": "Attrib2",
                "description": "",
                "type": "Checkbox",
                "group": "Attribute Group Test",
                "position": 0,
                "options": ""
            },
            {
                "_media-type": "application/vnd.ibexa.api.Attribute+json",
                "identifier": "attrib3",
                "name": "Attrib3",
                "description": "",
                "type": "Checkbox",
                "group": "Attribute Group Test",
                "position": 0,
                "options": ""
            }
        ]
    }
}
