<?xml version="1.0" encoding="UTF-8"?>
<ContentObjectStates media-type="application/vnd.ibexa.api.ContentObjectStates+xml">
 <ObjectState media-type="application/vnd.ibexa.api.ObjectState+xml" href="/api/ibexa/v2/content/objectstategroups/2/objectstates/2"/>
</ContentObjectStates>
