{
    "Price": {
        "_media-type": "application/vnd.ibexa.api.Price+json",
        "id": 2,
        "amount": "35.00",
        "base_amount": "35.00",
        "Currency": {
            "_media-type": "application/vnd.ibexa.api.Currency+json",
            "id": 5,
            "code": "USD",
            "subunits": 2,
            "enabled": true
        },
        "money": "3500",
        "base_money": "3500"
    }
}
