{
    "Segment": {
        "_media-type": "application/vnd.ibexa.api.Segment+json",
        "_href": "/api/ibexa/v2/segments/modified_segment_identifier",
        "id": 3,
        "identifier": "modified_segment_identifier",
        "name": "Modified Segment Name",
        "SegmentGroup": {
            "_media-type": "application/vnd.ibexa.api.SegmentGroup+json",
            "_href": "/api/ibexa/v2/segment_groups/small_companies"
        }
    }
}