{
    "DiscountCreate": {
        "identifier": "my_discount",
        "type": "cart",
        "priority": 10,
        "isEnabled": true,
        "userId": 14,
        "rule": {
            "type": "percentage",
            "amount": 10
        },
        "startDate": "2025-04-01 12:12:12",
        "translations": [
            {
                "languageCode": "eng-GB",
                "name": "Another discount",
                "description": "another great discount",
                "label": "another",
                "labelDescription": "another label description"
            }
        ],
        "conditions": [
            {
                "class": "Ibexa\\Discounts\\Value\\DiscountCondition\\IsInCategory",
                "parameters": [["1", "2"]]
            }
        ]
    }
}
