<?xml version="1.0" encoding="UTF-8"?>
<ContentTypeUpdate>
    <names>
        <value languageCode="eng-GB">Updated Content Type name</value>
    </names>
    <descriptions>
        <value languageCode="eng-GB">This is an updated Content Type description</value>
    </descriptions>
</ContentTypeUpdate>
