{
    "ProductVariant": {
        "_media-type": "application/vnd.ibexa.api.ProductVariant+json",
        "code": "macbook",
        "name": "Macbook Air 32/232",
        "Product": {
            "_media-type": "application/vnd.ibexa.api.Product+json",
            "code": "mac_air",
            "name": "Macbook Air",
            "ProductType": {
                "_media-type": "application/vnd.ibexa.api.ProductType+json",
                "identifier": "laptop",
                "name": "Laptop",
                "AttributeAssignmentList": [
                    {
                        "_media-type": "application/vnd.ibexa.api.AttributeAssignment+json",
                        "is_required": false,
                        "is_discriminator": true,
                        "Attribute": {
                            "_media-type": "application/vnd.ibexa.api.Attribute+json",
                            "identifier": "number",
                            "name": "number",
                            "description": "",
                            "type": "Float",
                            "group": "test",
                            "position": 0,
                            "options": "{\"min\":null,\"max\":null}"
                        }
                    },
                    {
                        "_media-type": "application/vnd.ibexa.api.AttributeAssignment+json",
                        "is_required": false,
                        "is_discriminator": true,
                        "Attribute": {
                            "_media-type": "application/vnd.ibexa.api.Attribute+json",
                            "identifier": "testattr",
                            "name": "testAttr",
                            "description": "",
                            "type": "Integer",
                            "group": "test",
                            "position": 0,
                            "options": "{\"min\":null,\"max\":null}"
                        }
                    }
                ]
            },
            "Content": {
                "_media-type": "application/vnd.ibexa.api.Content+json",
                "_href": "/api/ibexa/v2/content/objects/152",
                "_remoteId": "2d61ff8d0043eb299ca8c29c74f25441",
                "_id": 152,
                "ContentType": {
                    "_media-type": "application/vnd.ibexa.api.ContentType+json",
                    "_href": "/api/ibexa/v2/content/types/56"
                },
                "Name": "Macbook Air",
                "TranslatedName": "Macbook Air",
                "Versions": {
                    "_media-type": "application/vnd.ibexa.api.VersionList+json",
                    "_href": "/api/ibexa/v2/content/objects/152/versions"
                },
                "CurrentVersion": {
                    "_media-type": "application/vnd.ibexa.api.Version+json",
                    "_href": "/api/ibexa/v2/content/objects/152/currentversion",
                    "Version": {
                        "_media-type": "application/vnd.ibexa.api.Version+json",
                        "_href": "/api/ibexa/v2/content/objects/152/versions/1",
                        "VersionInfo": {
                            "id": 635,
                            "versionNo": 1,
                            "status": "PUBLISHED",
                            "modificationDate": "2022-07-21T15:17:18+02:00",
                            "Creator": {
                                "_media-type": "application/vnd.ibexa.api.User+json",
                                "_href": "/api/ibexa/v2/user/users/14"
                            },
                            "creationDate": "2022-07-21T15:17:18+02:00",
                            "initialLanguageCode": "eng-GB",
                            "languageCodes": "eng-GB",
                            "VersionTranslationInfo": {
                                "_media-type": "application/vnd.ibexa.api.VersionTranslationInfo+json",
                                "Language": [
                                    {
                                        "languageCode": "eng-GB"
                                    }
                                ]
                            },
                            "names": {
                                "value": [
                                    {
                                        "_languageCode": "eng-GB",
                                        "#text": "Macbook Air"
                                    }
                                ]
                            },
                            "Content": {
                                "_media-type": "application/vnd.ibexa.api.ContentInfo+json",
                                "_href": "/api/ibexa/v2/content/objects/152"
                            }
                        },
                        "Fields": {
                            "field": [
                                {
                                    "id": 716,
                                    "fieldDefinitionIdentifier": "name",
                                    "languageCode": "eng-GB",
                                    "fieldTypeIdentifier": "ezstring",
                                    "fieldValue": "Macbook Air"
                                },
                                {
                                    "id": 717,
                                    "fieldDefinitionIdentifier": "product_specification",
                                    "languageCode": "eng-GB",
                                    "fieldTypeIdentifier": "ibexa_product_specification",
                                    "fieldValue": {
                                        "id": 89,
                                        "code": "mac_air",
                                        "attributes": []
                                    }
                                },
                                {
                                    "id": 718,
                                    "fieldDefinitionIdentifier": "description",
                                    "languageCode": "eng-GB",
                                    "fieldTypeIdentifier": "ezrichtext",
                                    "fieldValue": {
                                        "xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<section xmlns=\"http://docbook.org/ns/docbook\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:ezxhtml=\"http://ibexa.co/xmlns/dxp/docbook/xhtml\" xmlns:ezcustom=\"http://ibexa.co/xmlns/dxp/docbook/custom\" version=\"5.0-variant ezpublish-1.0\"><para>test</para></section>\n",
                                        "xhtml5edit": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<section xmlns=\"http://ibexa.co/namespaces/ezpublish5/xhtml5/edit\"><p>test</p></section>\n"
                                    }
                                },
                                {
                                    "id": 719,
                                    "fieldDefinitionIdentifier": "image",
                                    "languageCode": "eng-GB",
                                    "fieldTypeIdentifier": "ezimageasset",
                                    "fieldValue": {
                                        "destinationContentId": null,
                                        "alternativeText": null,
                                        "source": null
                                    }
                                },
                                {
                                    "id": 720,
                                    "fieldDefinitionIdentifier": "category",
                                    "languageCode": "eng-GB",
                                    "fieldTypeIdentifier": "ibexa_taxonomy_entry_assignment",
                                    "fieldValue": {
                                        "taxonomy_entries": [],
                                        "taxonomy": null
                                    }
                                }
                            ]
                        },
                        "Relations": {
                            "_media-type": "application/vnd.ibexa.api.RelationList+json",
                            "_href": "/api/ibexa/v2/content/objects/152/versions/1/relations",
                            "Relation": []
                        },
                        "Thumbnail": {
                            "_media-type": "application/vnd.ibexa.api.Thumbnail+json",
                            "resource": "/bundles/ibexaadminui/img/ibexa-icons.svg#file",
                            "width": null,
                            "height": null,
                            "mimeType": "image/svg+xml"
                        }
                    }
                },
                "Section": {
                    "_media-type": "application/vnd.ibexa.api.Section+json",
                    "_href": "/api/ibexa/v2/content/sections/1"
                },
                "Locations": {
                    "_media-type": "application/vnd.ibexa.api.LocationList+json",
                    "_href": "/api/ibexa/v2/content/objects/152/locations"
                },
                "Owner": {
                    "_media-type": "application/vnd.ibexa.api.User+json",
                    "_href": "/api/ibexa/v2/user/users/14"
                },
                "lastModificationDate": "2022-07-21T15:17:18+02:00",
                "publishedDate": "2022-07-21T15:17:18+02:00",
                "mainLanguageCode": "eng-GB",
                "currentVersionNo": 1,
                "alwaysAvailable": true,
                "isHidden": false,
                "status": "PUBLISHED",
                "ObjectStates": {
                    "_media-type": "application/vnd.ibexa.api.ContentObjectStates+json",
                    "_href": "/api/ibexa/v2/content/objects/152/objectstates"
                }
            },
            "Thumbnail": {
                "_media-type": "application/vnd.ibexa.api.Thumbnail+json",
                "resource": "/bundles/ibexaadminui/img/ibexa-icons.svg#file",
                "width": null,
                "height": null,
                "mimeType": "image/svg+xml"
            },
            "created_at": 1658409438,
            "updated_at": 1658409438,
            "AttributesList": []
        },
        "DiscriminatorAttributesList": [
            {
                "_media-type": "application/vnd.ibexa.api.Attribute+json",
                "identifier": "number",
                "name": "number",
                "description": "",
                "type": "Float",
                "group": "test",
                "position": 0,
                "options": "{\"min\":null,\"max\":null}"
            },
            {
                "_media-type": "application/vnd.ibexa.api.Attribute+json",
                "identifier": "testattr",
                "name": "testAttr",
                "description": "",
                "type": "Integer",
                "group": "test",
                "position": 0,
                "options": "{\"min\":null,\"max\":null}"
            }
        ]
    }
}
