{
  "PartyData": {
    "_data-type":"invoice",
    "_media-type":"application/vnd.ez.api.Party+json",
    "PartyIdentification":[],
    "PartyName":[
      {
        "_media-type":"application/vnd.ez.api.PartyPartyName+json",
        "Name":"Testerin"
      },
      {
        "_media-type":"application/vnd.ez.api.PartyPartyName+json",
        "Name":""
      }
    ],
    "PostalAddress":{
      "_media-type":"application/vnd.ez.api.PartyPostalAddress+json",
      "StreetName":"Teststr. 11",
      "AdditionalStreetName":"",
      "BuildingNumber":null,
      "CityName":"Testingen",
      "PostalZone":"1111",
      "CountrySubentity":"Dummy",
      "CountrySubentityCode":null,
      "AddressLine":[],
      "Country":{
        "_media-type":"application/vnd.ez.api.PartyPostalAddressCountry+json",
        "IdentificationCode":"NO",
        "Name":null
      },
      "Department":null,
      "SesExtension":{}
    },
    "Contact":{
      "_media-type":"application/vnd.ez.api.Contact+json",
      "ID":null,
      "Name":null,
      "Telephone":"",
      "Telefax":null,
      "ElectronicMail":"contact@silversolutions.de",
      "OtherCommunication":null,
      "Note":null,
      "SesExtension":{}
    },
    "Person":{
      "_media-type":"application/vnd.ez.api.PartyPerson+json",
      "FirstName":null,
      "FamilyName":null,
      "Title":null,
      "MiddleName":null,
      "SesExtension":{}
    },
    "SesExtension":{
      "forceInvoice":false,
      "customer_type":"private"
    }
  }
}
