<?xml version="1.0" encoding="UTF-8"?>
<SegmentGroup media-type="application/vnd.ibexa.api.SegmentGroup+xml" href="/api/ibexa/v2/segment_groups/segment_group_identifier">
    <id>3</id>
    <identifier>segment_group_identifier</identifier>
    <name>Segment Group Name</name>
</SegmentGroup>