{
  "ValidationResponse": {
    "_media-type": "application\/vnd.ez.api.ValidationResponse+json",
    "messages": {
      "_error": [
        "Product with the sku: foo not found"
      ]
    }
  }
}
