{
    "ObjectStateGroup": {
        "names": {
            "value": [
                {
                    "_languageCode": "eng-GB",
                    "#text": "New Custom State name"
                }
            ]
        }
    }
}