{% extends 'base.html.twig' %}

{% block content %}
    <div class="main-page">
        <h1>PHP API Reference</h1>

        <p>Ibexa DXP's public PHP API is defined in the <a href="namespaces/ibexa-contracts.html"><code>Ibexa\Contracts</code></a> namespace. Ibexa promises backward compatibility to API consumers.</p>

        <p>If those <code>Contracts</code> are used for type hinting (including auto-wiring), the received objects always respect the <code>Contracts</code> in the next minor versions, following the <a href="https://semver.org/">Semantic Versioning Specification</a>.</p>
    </div>
{% endblock %}
