{% extends 'base.html.twig' %}

{% block content %}
    <div class="main-page">
        <h1>PHP API Reference</h1>

        <p>Ibexa DXP's Public PHP API is defined in the <a href="namespaces/ibexa-contracts.html"><code>Ibexa\Contracts</code></a> namespace where consumption backward compatibility is promised.</p>

        <p>If those <code>Contracts</code> are used for type hinting (including auto-wiring), the received objects will always respect the <code>Contracts</code> in the next minor versions, following <a href="https://semver.org/">SemVer</a>.</p>
    </div>
{% endblock %}
