<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block head %}
        <title>{% block title %}{{ project.name }}{% endblock %}</title>
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}
    {{ renderBaseUrlHeader() }}
    <link rel="icon" href="images/favicon.png"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    {% endblock %}
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/fuse.js@3.4.6"></script>
        <script src="js/search.js"></script>
        <script defer src="js/searchIndex.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        <script>
            hljs.configure({
                cssSelector: 'pre.prettyprint code'
            });
            hljs.highlightAll();
        </script>
    {% endblock %}
</head>
<body dir="ltr" data-md-color-scheme="default" data-md-color-primary="blue-grey" data-md-color-accent="deep-orange">
    <input class="md-toggle" data-md-toggle="search" type="checkbox" id="__search" autocomplete="off">

    {% include 'components/header.html.twig' %}

    <div class="md-container" data-md-component="container">
        <main class="md-main" data-md-component="main">
            <div class="md-main__inner md-grid">
                {% include 'components/sidebar.html.twig' %}

                <div class="md-content" data-md-component="content">
                    <article class="md-content__inner md-typeset">
                        <div>
                            {% block content %}
                            
                            {% endblock %}
                        </div>
                    </article>
                </div>

                {% if block('on_this_page') is defined %}
                    <div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
                        <div class="md-sidebar__scrollwrap">
                            <div class="md-sidebar__inner">
                                <nav class="md-nav md-nav--secondary" aria-label="">
                                    {{ block('on_this_page') }}
                                </nav>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </main>
    </div>
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
    </script>
    <script src="js/active-menu.js"></script>
    <script src="js/menu-resizer.js"></script>
    <script src="js/docs.switcher.js"></script>
    <script src="js/toc.js"></script>
    <script src="js/search_custom.js"></script>
    <script src="js/copy_to_clipboard.js"></script>
    <script src="js/version_switcher_custom.js"></script>
</body>
</html>
