{% if depth == 0 %}
    {% if entry.children.count > 0 %}
        {% for child in entry.children %}
            {% include 'components/menu-entry.html.twig' with {
                title: entry.name|shortFQSEN ~ ' ' ~ child.name|shortFQSEN,
                nav_id: nav_id ~ '-' ~ loop.index,
                expanded: true,
                entry: child,
            } %}
        {% endfor %}
    {% endif %}
{% else %}

    {% set index = 0 %}

    {% if entry.children.count > 0 %}
        {% if depth > 1 %}
            <label class="md-nav__list-title md-nav__list-title--namespaces">
                Namespaces
            </label>
        {% endif %}
        <ul class="md-nav__list">
            {% for child in entry.children %}
                {% include 'components/menu-entry.html.twig' with {
                    title: child.name|shortFQSEN,
                    nav_id: nav_id ~ '-' ~ index,
                    entry: child,
                    expanded: false,
                    icon: 'folder.svg',
                    type: 'namespace',
                } %}

                {% set index = index + 1 %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if entry.interfaces[0] is defined or entry.classes[0] is defined or entry.traits[0] is defined or entry.enums[0] is defined %}
        {% if depth > 1 %}
            <label class="md-nav__list-title">
                Interfaces, classes, traits, and enums
            </label>
        {% endif %}
        <ul class="md-nav__list">
            {% if entry.interfaces[0] is defined %}
                {% for element in entry.interfaces|sort_asc %}
                    {% include 'components/menu-entry.html.twig' with {
                        title: element.name|shortFQSEN,
                        nav_id: nav_id ~ '-' ~ index,
                        entry: element,
                        expanded: false,
                        icon: 'file.svg',
                    } %}

                    {% set index = index + 1 %}
                {% endfor %}
            {% endif %}
            {% if entry.classes[0] is defined %}
                {% for element in entry.classes|sort_asc %}
                    {% include 'components/menu-entry.html.twig' with {
                        title: element.name|shortFQSEN,
                        nav_id: nav_id ~ '-' ~ index,
                        entry: element,
                        expanded: false,
                        icon: 'file.svg',
                    } %}

                    {% set index = index + 1 %}
                {% endfor %}
            {% endif %}
            {% if entry.traits[0] is defined %}
                {% for element in entry.traits|sort_asc %}
                    {% include 'components/menu-entry.html.twig' with {
                        title: element.name|shortFQSEN,
                        nav_id: nav_id ~ '-' ~ index,
                        entry: element,
                        expanded: false,
                        icon: 'file.svg',
                    } %}

                    {% set index = index + 1 %}
                {% endfor %}
            {% endif %}
            {% if entry.enums[0] is defined %}
                {% for element in entry.enums|sort_asc %}
                    {% include 'components/menu-entry.html.twig' with {
                        title: element.name|shortFQSEN,
                        nav_id: nav_id ~ '-' ~ index,
                        entry: element,
                        expanded: false,
                        icon: 'file.svg',
                    } %}

                    {% set index = index + 1 %}
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}
{% endif %}
