/vendor/
**/.DS_Store
__pycache__/*
**/__pycache__
/site/
**/.idea/
composer.lock
node_modules/
auth.json
.yarn
yarn.lock
docs/css/*.map
.lycheecache
lychee.toml
/repositories/
lychee-report.md
.phpunit.result.cache
/build/
*.egg-info/
/doc/
/llms.txt
/developer/
/user/
/class_paths.json
/user-docs/
.scratch/
