/vendor/
**/.DS_Store
__pycache__/*
/site/
**/.idea/
.php-cs-fixer.cache
composer.lock
tools/php-cs-fixer/vendor
node_modules/
auth.json
.yarn
yarn.lock
docs/css/*.map
.deptrac.cache
.lycheecache
lychee.toml
/repositories/
lychee-report.md
.phpunit.result.cache
