includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 8
    paths:
        - code_samples/recent_activity
    treatPhpDocTypesAsCertain: false
