Jinja2==2.10
Markdown==3.0.1
PyYAML==3.13
Pygments==2.2.0
certifi==2018.8.24
click==7.0
commonmark==0.5.4
docutils==0.13.1
livereload==2.5.2
mkdocs==0.17.3
mock==1.0.1
pillow==2.6.1
recommonmark==0.4.0
setuptools==39.2.0
singledispatch==3.4.0.3
six==1.11.0
tornado==4.5.3
