<?xml version="1.0" encoding="UTF-8"?>
<ObjectStateCreate>
  <priority>3</priority>
  <defaultLanguageCode>eng-GB</defaultLanguageCode>
  <names>
    <value languageCode="eng-GB">New Object State name</value>
  </names>
</ObjectStateCreate>
