{
    "SegmentGroup": {
        "_media-type": "application/vnd.ibexa.api.SegmentGroup+json",
        "_href": "/api/ibexa/v2/segment_groups/modified_segment_group_identifier",
        "id": 3,
        "identifier": "modified_segment_group_identifier",
        "name": "Modified Segment Group Name"
    }
}