{
    "ActivityLogList": {
        "_media-type": "application\/vnd.ibexa.api.ActivityLogList+json",
        "_href": "\/api\/ibexa\/v2\/activity-log\/list",
        "ActivityLogGroups": [
            {
                "_media-type": "application\/vnd.ibexa.api.ActivityLogGroup+json",
                "user_id": 14,
                "logged_at": 1697799791,
                "ActivityLogEntries": [
                    {
                        "_media-type": "application\/vnd.ibexa.api.ActivityLog+json",
                        "object_id": "69",
                        "object_class": "Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\Content",
                        "action": "create",
                        "data": {}
                    }
                ]
            }
        ]
    }
}