<?xml version="1.0" encoding="UTF-8"?>
<ActivityLogList media-type="application/vnd.ibexa.api.ActivityLogList+xml" href="/api/ibexa/v2/activity-log/list">
 <ActivityLog media-type="application/vnd.ibexa.api.ActivityLog+xml">
  <object_id>69</object_id>
  <object_class>Ibexa\Contracts\Core\Repository\Values\Content\Content</object_class>
  <action>create</action>
  <user_id>14</user_id>
  <logged_at>1697799791</logged_at>
  <data/>
 </ActivityLog>
</ActivityLogList>
