<?xml version="1.0" encoding="UTF-8"?>
<ObjectState media-type="application/vnd.ibexa.api.ObjectState+xml" href="/api/ibexa/v2/content/objectstategroups/7/objectstates/5">
    <id>5</id>
    <identifier>new-state</identifier>
    <priority>0</priority>
    <ObjectStateGroup media-type="application/vnd.ibexa.api.ObjectStateGroup+xml" href="/api/ibexa/v2/content/objectstategroups/7"/>
    <defaultLanguageCode>eng-GB</defaultLanguageCode>
    <languageCodes>eng-GB</languageCodes>
    <names>
        <value languageCode="eng-GB">New State</value>
    </names>
    <descriptions>
        <value languageCode="eng-GB">New Object State</value>
    </descriptions>
</ObjectState>
