{% import "partials/language.html" as lang with context %}
{% set platform = config.extra.repo_icon or config.repo_url %}
{% if "github" in platform %}
  {% set repo_type = "github" %}
{% elif "gitlab" in platform %}
  {% set repo_type = "gitlab" %}
{% elif "bitbucket" in platform %}
  {% set repo_type = "bitbucket" %}
{% else %}
  {% set repo_type = "" %}
{% endif %}
{% block repo %}
  <a href="{{ page.edit_url|replace('/edit/', '/blob/') }}" title="{{ lang.t('show.link.title') }}" class="md-source" data-md-source="{{ repo_type }}">
    {% if repo_type %}
      <div class="md-source__icon github-icon">
        <img src="{{ base_url }}/images/developer-community-github-1.svg" width="24" height="24">
      </div>
    {% endif %}
    <div class="md-source__repository">
      {{ config.repo_name }}
    </div>
  </a>
{% endblock %}
