{
    "Role": {
        "_media-type": "application/vnd.ibexa.api.Role+json",
        "_href": "/api/ibexa/v2/user/roles/21",
        "identifier": "NewIdentifier",
        "Policies": {
            "_media-type": "application/vnd.ibexa.api.PolicyList+json",
            "_href": "/api/ibexa/v2/user/roles/21/policies"
        }
    }
}
