<?xml version="1.0" encoding="UTF-8"?>
<Role media-type="application/vnd.ez.api.Role+xml" href="/api/ezp/v2/user/roles/5">
    <identifier>NewIdentifier</identifier>
    <Policies media-type="application/vnd.ez.api.PolicyList+xml" href="/api/ezp/v2/user/roles/5/policies"/>
</Role>
