<?xml version="1.0" encoding="UTF-8" ?>
<ActivityLogListInput>
    <offset>0</offset>
    <limit>10</limit>
    <criteria>
        <criterion type="object_class">
            <class>Ibexa\Contracts\Core\Repository\Values\Content\Content</class>
        </criterion>
        <criterion type="action">
            <value>create</value>
        </criterion>
        <criterion type="logged_at">
            <value>- 1 hour</value>
            <operator>&gt;=</operator>
        </criterion>
    </criteria>
    <sortClauses>
        <sortClause type="logged_at">DESC</sortClause>
    </sortClauses>
</ActivityLogListInput>