<?xml version="1.0" encoding="UTF-8"?>
<RoleAssignmentList media-type="application/vnd.ez.api.RoleAssignmentList+xml" href="/api/ezp/v2/user/users/115/roles">
    <RoleAssignment media-type="application/vnd.ez.api.RoleAssignment+xml" href="/api/ezp/v2/user/users/115/roles/2">
        <limitation identifier="Section">
            <values>
                <ref media-type="application/vnd.ez.api.ref+xml" href="1"/>
            </values>
        </limitation>
        <Role media-type="application/vnd.ez.api.Role+xml" href="/api/ezp/v2/user/roles/2"/>
    </RoleAssignment>
</RoleAssignmentList>