{
    "ObjectState": {
        "_media-type": "application/vnd.ibexa.api.ObjectState+json",
        "_href": "/api/ibexa/v2/content/objectstategroups/2/objectstates/2",
        "id": 2,
        "identifier": "locked",
        "priority": 1,
        "ObjectStateGroup": {
            "_media-type": "application/vnd.ibexa.api.ObjectStateGroup+json",
            "_href": "/api/ibexa/v2/content/objectstategroups/2"
        },
        "defaultLanguageCode": "eng-GB",
        "languageCodes": "eng-GB",
        "names": {
            "value": [
                {
                    "_languageCode": "eng-GB",
                    "#text": "Locked"
                }
            ]
        },
        "descriptions": {
            "value": [
                {
                    "_languageCode": "eng-GB",
                    "#text": ""
                }
            ]
        }
    }
}
