{
    "CartView": {
        "_media-type": "application\/vnd.ibexa.api.CartView+json",
        "identifier": "loadUserCarts",
        "Result": {
            "_media-type": "application\/vnd.ibexa.api.ViewResult+json",
            "count": 1,
            "CartList": {
                "_media-type": "application\/vnd.ibexa.api.CartList+json",
                "Cart": [
                    {
                        "_media-type": "application\/vnd.ibexa.api.Cart+json",
                        "id": 1,
                        "identifier": "289ab191-c6ea-45af-9adb-a5060d997361",
                        "name": "Default",
                        "createdAt": "2024-09-25T14:44:07+00:00",
                        "updatedAt": "2024-09-25T14:44:07+00:00",
                        "owner": {
                            "_media-type": "application\/vnd.ibexa.api.User+json",
                            "_href": "\/api\/ibexa\/v2\/user\/users\/10"
                        },
                        "Currency": {
                            "_media-type": "application\/vnd.ibexa.api.Currency+json",
                            "id": 2,
                            "code": "EUR",
                            "subunits": 2,
                            "enabled": true
                        },
                        "entries": [],
                        "context": {
                            "foo": "bar"
                        }
                    }
                ]
            }
        }
    }
}