<?xml version="1.0" encoding="UTF-8"?>
<SegmentGroupList media-type="application/vnd.ibexa.api.SegmentGroupList+xml" href="/api/ibexa/v2/segment_groups">
 <SegmentGroup media-type="application/vnd.ibexa.api.SegmentGroup+xml" href="/api/ibexa/v2/segment_groups/corporate_accounts">
  <id>1</id>
  <identifier>corporate_accounts</identifier>
  <name>Corporate Accounts</name>
 </SegmentGroup>
</SegmentGroupList>
