<?xml version="1.0" encoding="UTF-8"?>
<Relation media-type="application/vnd.ibexa.api.Relation+xml" href="/api/ibexa/v2/content/objects/86/versions/1/relations/1">
    <SourceContent media-type="application/vnd.ibexa.api.ContentInfo+xml" href="/api/ibexa/v2/content/objects/86"/>
    <DestinationContent media-type="application/vnd.ibexa.api.ContentInfo+xml" href="/api/ibexa/v2/content/objects/86"/>
    <RelationType>COMMON</RelationType>
</Relation>
