{% if method.headers %}
    <div class="py-3">
        <h6 class="heading text-gray border-bottom pb-2">Header parameters</h6>
        {% for item in method.headers %}
            <div class="mb-2">
                <p class="mt-3 mb-0 font-weight-medium">{{ item.key }}</p>
                <p>{{ item.description }}</p>
                <div class="table-responsive mb-2">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Property</th>
                            <th scope="col">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% include theme ~ "/header-parameters.html.twig" %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
