{
    "Discount": {
        "_media-type": "application/vnd.ibexa.api.Discount+json",
        "id": 2,
        "identifier": "my_discount",
        "name": "Another discount",
        "type": "cart",
        "label": "another",
        "labelDescription": "another label description",
        "priority": 10,
        "isEnabled": false,
        "createdAt": "2025-06-10T11:03:37+00:00",
        "updatedAt": "2025-06-10T13:05:56+00:00",
        "startDate": "2025-04-01T12:12:12+00:00",
        "DiscountExpressionAware": {
            "_media-type": "application/vnd.ibexa.api.DiscountExpressionAware+json",
            "expressionValues": {
                "discount_percentage": "10"
            }
        },
        "DiscountConditions": [
            {
                "_media-type": "application/vnd.ibexa.api.DiscountExpressionAware+json",
                "expressionValues": {
                    "categories": [
                        "1",
                        "3"
                    ]
                }
            }
        ],
        "DiscountTranslations": [
            {
                "_media-type": "application/vnd.ibexa.api.DiscountTranslation+json",
                "languageCode": {},
                "name": "Another discount",
                "description": "another great discount",
                "label": "another",
                "labelDescription": "another label description"
            }
        ]
    },
    "isDiscountCodeAware": {
        "_media-type": "application/vnd.ibexa.api.isDiscountCodeAware+json",
        "isDiscountCodeAware": false
    }
}
