<?xml version="1.0"?>
<Participant media-type="application/vnd.ibexa.api.InternalParticipant+xml">
    <id>46</id>
    <name>Editor</name>
    <scope>view</scope>
    <User media-type="application/vnd.ibexa.api.User+xml" href="/api/ibexa/v2/user/users/70"/>
    <createdAt>2024-11-14T14:09:47+00:00</createdAt>
    <updatedAt>2024-11-15T12:50:03+00:00</updatedAt>
</Participant>