<?xml version="1.0" encoding="UTF-8"?>
<Participant media-type="application/vnd.ibexa.api.ExternalParticipant+xml">
    <id>46</id>
    <name>user@link.invalid</name>
    <scope>edit</scope>
    <email>user@link.invalid</email>
    <createdAt>2024-11-14T14:09:47+00:00</createdAt>
    <updatedAt>2024-11-15T12:50:03+00:00</updatedAt>
</Participant>