{
    "CustomerGroup": {
        "_media-type": "application/vnd.ibexa.api.CustomerGroup+json",
        "id": 1,
        "name": "Customer Group",
        "identifier": "customer_group",
        "description": "",
        "users": [],
        "global_price_rate": "1.00"
    }
}
