{
    "Attribute": {
        "_media-type": "application/vnd.ibexa.api.Attribute+json",
        "identifier": "foo",
        "name": "Attribute",
        "description": "description",
        "type": "Checkbox",
        "group": "Attribute Test",
        "position": 0,
        "options": "bar"
    }
}
