{
    "AttributeCreate": {
        "identifier": "foo",
        "type": "checkbox",
        "group": "attr_group_test",
        "names": {
            "eng-GB": "Attribute" 
        },
        "descriptions": {
            "eng-GB": "description" 
        },
        "position": 0,
        "options": {
            "foo": "bar"
        }
    }
}
