{
    "AttributeGroupList": {
        "_media-type": "application/vnd.ibexa.api.AttributeGroupList+json",
        "AttributeGroup": [
            {
                "_media-type": "application/vnd.ibexa.api.AttributeGroup+json",
                "name": "Attribute Group Test",
                "identifier": "attr_group_test",
                "position": 0
            },
            {
                "_media-type": "application/vnd.ibexa.api.AttributeGroup+json",
                "name": "Dimensions",
                "identifier": "ag_dimensions",
                "position": 0
            }
        ]
    }
}