{
    "ViewInput": {
        "identifier": "TitleView",
        "ProductQuery": {
            "Query": {
                "ProductCodeCriterion": "test",
                "ProductAvailabilityCriterion": true
            }
        }
    }
}
