{
    "ViewInput": {
        "identifier": "TitleView",
        "CatalogQuery": {
            "Query": {
                "CatalogIdentifierCriterion": "test",
                "CatalogNameCriterion": "test"
            }
        }
    }
}
