<?xml version="1.0" encoding="UTF-8"?>
<Token media-type="application/vnd.ibexa.api.Token+xml">
 <value>eff5.w9r2Ws_zpjcopNJ8FRNVaplGlx19y4Mp2QP-eQWZDKc.-pe4Pam133xKzKQZLCdiIMkj2EgQ5rMdtlGTEEPPaOyHv6Y1iKTsZ2_OtQ</value>
</Token>
