{
    "Token": {
        "_media-type": "application/vnd.ibexa.api.Token+json",
        "value": "7b19308.RiDPaorwmJRyQoGajJiLMp843r30WaW-PH1CeH4oQyU.dkOXWOuFrvBfDPXY1t27YMx0hvyFH8fPUwoDNRl_D0sWDb4O3bb-20Q32A"
    }
}
