{
    "Token": {
        "_media-type": "application\/vnd.ibexa.api.Token+json",
        "value": "DLDDLD.LLLLLDLLLLDLLLLLDLLLLLLLDLLDLLLD_D_LLDDLLLL._LLLDLL-LLLLLLLLLLDLLDLLLLLLLDLLLLLLLLL-LLLLLLLLLLLLLLLDLL"
    }
}
