{
    "ShippingMethodRefList": {
        "_media-type": "application\/vnd.ibexa.api.ShippingMethodRefList+json",
        "_href": "\/api\/ibexa\/v2\/shipping\/methods",
        "ShippingMethodRefs": [
            {
                "_media-type": "application\/vnd.ibexa.api.ShippingMethod+json",
                "_href": "\/api\/ibexa\/v2\/shipping\/methods\/parcel_delivery"
            },
            {
                "_media-type": "application\/vnd.ibexa.api.ShippingMethod+json",
                "_href": "\/api\/ibexa\/v2\/shipping\/methods\/inpost_parcel_locker"
            }
        ]
    }
}
