<div class="row random-block">
    <h4 class="text-right">{{ 'Tip of the Day'|trans }}</h4>
    <h5>{{ ibexa_content_name(randomContent) }}</h5>
    <div class="random-block-text">
        {{ ibexa_render_field(randomContent, 'body') }}
    </div>
</div>