<?xml version="1.0" encoding="UTF-8"?>
<PolicyCreate>
    <module>content</module>
    <function>create</function>
    <limitations>
        <limitation identifier="Class">
            <values>
                <ref href="2"/>
            </values>
        </limitation>
        <limitation identifier="ParentClass">
            <values>
                <ref href="1"/>
            </values>
        </limitation>
    </limitations>
</PolicyCreate>
