<?xml version="1.0" encoding="UTF-8"?>
<GenerateAltText xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Image>
        <base64>abcdefghijkl</base64>
    </Image>
    <RuntimeContext />
</GenerateAltText>
