{
  "ValidationResponse": {
    "_media-type": "application\/vnd.ibexa.api.ValidationResponse+json",
    "messages": {
      "CustomerPrice": {
        "_errors": [
          {
            "_message": "msg.invalid_customer_price_request"
          }
        ]
      }
    }
  }
}
