{
  "RoleAssignInput": {
    "Role": {
      "_href": "/api/ibexa/v2/user/roles/2"
    },
    "limitation": {
      "_identifier": "Section",
      "values": {
        "ref": [
          {
            "_href": "/api/ibexa/v2/content/sections/1"
          },
          {
            "_href": "/api/ibexa/v2/content/sections/2"
          }
        ]
      }
    }
  }
}
