.ibexa-store-main-menu .ibexa-store-container {
    display: grid;
    justify-content: space-between;
}

.ibexa-store-minicart-wrapper {
    grid-column-start: 2;
    grid-column-end: 2;
}

.ibexa-store-main-menu-items {
    grid-column-start: 1;
    grid-column-end: 1;
}

.ibexa-store-main-menu-items ul {
    margin: 0;
    padding: 0
}

.ibexa-store-main-menu-items li {
    padding: 10px 8px;
    display: inline-block;
}

.seats-selection-container {
    padding: 20px 0;
    display: grid;
    grid-auto-columns: auto;
}

.seat {
    display: inline-block;
    padding: 15px;
    border: 1px solid #ccc;
}

.seat-null {
    background: #EEEEEE;
}

.seat-available {
    background: #98de98;
    cursor: pointer;
}

.seat-not-available {
    background: #d38e8e;
}

.seat-selected {
    background: #0a410a;
}

.seats-map {
    grid-column: 1 / 3;
    grid-row: 1;
}

.seats-input {
    grid-column: 2 / 3;
    grid-row: 1;
}

.checkout-header {
    margin-bottom: 40px;
}

.checkout-field-group {
    border: none;
    background:  #f9f9fa;
    border-radius: 3px;
    padding: 24px;
    margin-bottom: 20px;
}

.checkout-field-group-header {
    margin-bottom: 20px;
}

.checkout-field-group-label {
    font-size: 1.5em;
}

.checkout-field-group-step {
    display: inline-block;
    border: 1px solid #666;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
}

