{
    "CompanyUpdate": {
        "fields": {
            "field": [
                {
                    "fieldDefinitionIdentifier": "contact",
                    "fieldValue": {
                        "destinationContentId": 144
                    }
                }
            ]
        }
    }
}
