/* Keywords */
.codehilite .k,
.codehilite .kd,
.codehilite .kn,
.codehilite .kp,
.codehilite .kr,
.codehilite .kt,
/* Other names (types) */
.codehilite .nx
/* Keyword constants */
.codehilite .kc,
.codehilite .n {
    color: #4191FF;
}

/* Operators and punctuation */
.codehilite .o,
.codehilite .ow,
.codehilite .p
{
    color: var(--ibexa-dusk-black);
}

/* HTML tags and YAML keys */
.codehilite .nt {
    color: #32707D;
}

/* Function names */
.codehilite .nc,
.codehilite .nb,
.codehilite .ne,
.codehilite .nf,
.codehilite .fm,
.codehilite .nn {
    color: var(--ibexa-jazzberry);
}

/* Variable names */
.codehilite .nv,
.codehilite .vc,
.codehilite .vg,
.codehilite .vi {
    color: #41000F;
}

/* Attributes */
.codehilite .na {
    color: var(--ibexa-jazzberry);
}

/* Strings */
.codehilite .l,
.codehilite .s,
.codehilite .sb,
.codehilite .sc,
.codehilite .s2,
.codehilite .si,
.codehilite .s1,
.codehilite .ss {
    color: #A8604A;
}

/* Numbers */
.codehilite .m,
.codehilite .mf,
.codehilite .mh,
.codehilite .mi,
.codehilite .il,
.codehilite .mo {
    color: #A8604A;
}

/* Comments */
.codehilite .c,
.codehilite .cm,
.codehilite .c1,
.codehilite .ch,
.codehilite .cs,
.codehilite .sd {
    color: gray;
}

.codehilite .gd,.highlight .gd,.codehilite .gi,.highlight .gi {
    margin: 0 -0.125em;
    padding: 0 .125em;
    border-radius: .1rem
}

.codehilite .gd,.highlight .gd {
    background-color: var(--md-typeset-del-color)
}

.codehilite .gi,.highlight .gi {
    background-color: var(--md-typeset-ins-color)
}

.codehilite .hll,.highlight .hll {
    display: block;
    margin: 0 -1.1764705882em;
    padding: 0 1.1764705882em;
    background-color: var(--md-code-hl-color)
}

.codehilitetable,.highlighttable {
    display: block;
    overflow: hidden
}

.codehilitetable tbody,.highlighttable tbody,.codehilitetable td,.highlighttable td {
    display: block;
    padding: 0
}

.codehilitetable tr,.highlighttable tr {
    display: flex
}

.codehilitetable pre,.highlighttable pre {
    margin: 0
}

.codehilitetable .linenos,.highlighttable .linenos {
    padding: .525rem 1.1764705882em;
    padding-right: 0;
    font-size: .85em;
    background-color: var(--md-code-bg-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.codehilitetable .linenodiv,.highlighttable .linenodiv {
    padding-right: .5882352941em;
    box-shadow: -0.05rem 0 var(--md-default-fg-color--lighter) inset
}

.codehilitetable .linenodiv pre,.highlighttable .linenodiv pre {
    color: var(--md-default-fg-color--light);
    text-align: right
}

.codehilitetable .code,.highlighttable .code {
    flex: 1;
    overflow: hidden
}

.md-typeset .codehilitetable,.md-typeset .highlighttable {
    margin: 1em 0;
    direction: ltr;
    border-radius: .1rem
}

.md-typeset .codehilitetable code,.md-typeset .highlighttable code {
    border-radius: 0
}

@media screen and (max-width: 44.9375em) {
    .md-typeset>.codehilite,.md-typeset>.highlight {
        margin:1em -0.8rem
    }

    .md-typeset>.codehilite .hll,.md-typeset>.highlight .hll {
        margin: 0 -0.8rem;
        padding: 0 .8rem
    }

    .md-typeset>.codehilite code,.md-typeset>.highlight code {
        border-radius: 0
    }

    .md-typeset>.codehilitetable,.md-typeset>.highlighttable {
        margin: 1em -0.8rem;
        border-radius: 0
    }

    .md-typeset>.codehilitetable .hll,.md-typeset>.highlighttable .hll {
        margin: 0 -0.8rem;
        padding: 0 .8rem
    }
}
