:root {
    --ibexa-orange: rgb(255,71,19);
    --ibexa-red: rgb(219,0,50);
    --ibexa-jazzberry: rgb(174,17,100);
    --ibexa-dusk-black: rgb(19,28,38);
    --ibexa-snow: rgb(224,224,232);
    --black: rgb(0,0,0);
    --white: rgb(255,255,255);
    --warm-stone: rgb(236,223,209);
    --turquoise-pearl: rgb(71,190,219);
    --yellow-orange: rgb(252,174,66);
    --apricot: rgb(241,138,107);
    --sherpa-blue: rgb(0,77,93);
    
    --mid-grey: rgb(201,201,208);
    --dark-grey: rgb(151,151,151);
    
    
    --caution-border: var(--ibexa-orange);
    --note-border: var(--mid-grey);
    --enterprise-border: var(--ibexa-jazzberry);
    
    --codeblock: rgb(89,96,103);
    --inline-code: rgb(242,242,245);
    --table-header: rgb(89,96,103);
    --code-highlight: rgb(253,230,198);
    
    --link: rgb(0,71,206);
    
    
    --md-admonition-icon--tip: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2a7 7 0 017 7c0 2.38-1.19 4.47-3 5.74V17a1 1 0 01-1 1H9a1 1 0 01-1-1v-2.26C6.19 13.47 5 11.38 5 9a7 7 0 017-7M9 21v-1h6v1a1 1 0 01-1 1h-4a1 1 0 01-1-1m3-17a5 5 0 00-5 5c0 2.05 1.23 3.81 3 4.58V16h4v-2.42c1.77-.77 3-2.53 3-4.58a5 5 0 00-5-5z"/></svg>');
    --md-admonition-icon--note: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14.06 9l.94.94L5.92 19H5v-.92L14.06 9m3.6-6c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29m-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/></svg>');
    --md-admonition-icon--caution: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2L1 21h22M12 6l7.53 13H4.47M11 10v4h2v-4m-2 6v2h2v-2"/></svg>');
}

@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body, input {
    font-family: "Noto Sans", sans-serif;
    color: var(--ibexa-dusk-black);
}

body {
    -webkit-font-smoothing: initial;
}

.md-content {
    padding: 0 3rem;

}

.md-main__inner {
    margin-top: 0;
}

.md-main__inner article {
    padding-bottom: 6rem;
}

.md-grid {
    max-width: 100%;
}

.md-typeset {
    font-size: 16px;
    line-height: 1.5;
    -webkit-print-color-adjust: exact;
}

[data-md-color-primary=blue-grey] .md-header {
    background-color: var(--ibexa-dusk-black);
    color: #fff;
    height: 56px;
}

.md-typeset a {
    color: var(--link);
}

.md-typeset a:hover {
    color: var(--ibexa-orange);
}

.md-typeset th a {
    color: #fff;
}

.md-typeset .md-icon {
    color: rgba(0,0,0,.26);
}

/* Headings */

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
    color: var(--ibexa-dusk-black);
    line-height: 1;
}

.md-typeset h1 {
    margin: 0 0 1rem;
    font-size: 34px;
}

.md-typeset h2 {
    font-size: 28px;
}

.md-typeset h3 {
    font-size: 24px;
}

.md-typeset h4 {
    font-size: 22px;
}

.md-typeset h5 {
    font-size: 18px;
    text-transform: none;
}

.md-typeset h6 {
    font-size: 16px;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
    font-weight: 600;
}

ul li::marker {
    color: var(--ibexa-jazzberry);
}

ul li li {
    list-style-type: square;
}

ul li li::marker {
    color: black; 
}

ul li li li {
    list-style-type: circle;
}

.md-content__inner>:last-child {
    margin-bottom: -24px;
}

.md-footer {
    background-color: #f9f9f9;
    color: #c3c3c3;
    padding: 1rem 1.5rem;
    bottom: 0;
    width: 200%;
    position: absolute;
    left: 15rem;
    border-left: 1px solid #d7d7d7;
}

.md-icon--home {
    padding: .5rem;
}

/* Admonitions */

.md-typeset details {
    font-size: 16px;
    box-shadow: none;
}

.md-typeset details {
    border: .4rem solid;
}

/* DXP */

.admonition.dxp>.admonition-title,
.admonition.enterprise>.admonition-title {
    padding-left: 0.6rem;
}

.admonition.dxp, .admonition.dxp>.admonition-title, 
.admonition.enterprise, .admonition.enterprise>.admonition-title {
    border-color: var(--enterprise-border);
    background-color: #ffffff;
}

/* Caution */

.md-typeset .admonition.caution, .md-typeset .admonition.caution>.admonition-title {
    border-color: var(--caution-border);
}

/* Note, tip and expand box */

.md-typeset .admonition.tip,
.md-typeset .admonition.tip>.admonition-title,
.md-typeset .admonition.note,
.md-typeset .admonition.note>.admonition-title,
.md-typeset details.tip, .md-typeset details.note
{
    border-color: var(--note-border);
}

.md-typeset .admonition.dxp>.admonition-title:before, .md-typeset .admonition.enterprise>.admonition-title:before {
    background-color: transparent;
    -webkit-mask-image: none;
            mask-image: none;
}

.md-typeset .admonition.tip>.admonition-title:before, .md-typeset details.tip>summary:before {
    background-color: var(--note-border);
    -webkit-mask-image: var(--md-admonition-icon--tip);
            mask-image: var(--md-admonition-icon--tip);
}

.md-typeset .admonition.note>.admonition-title:before, .md-typeset details.note>summary:before {
    background-color: var(--note-border);
    -webkit-mask-image: var(--md-admonition-icon--note);
            mask-image: var(--md-admonition-icon--note);
}

.md-typeset .admonition.caution>.admonition-title:before, .md-typeset details.caution>summary:before {
    background-color: var(--caution-border);
    -webkit-mask-image: var(--md-admonition-icon--caution);
            mask-image: var(--md-admonition-icon--caution);
}

.md-typeset .admonition.tip>.admonition-title:before, .md-typeset details.tip>summary:before,
.md-typeset .admonition.note>.admonition-title:before, .md-typeset details.note>summary:before {
    color: var(--ibexa-dusk-black);
}

/* General admonitions */

.md-typeset .admonition.caution>.admonition-title, .md-typeset .admonition.note>.admonition-title,
.md-typeset .admonition.tip>.admonition-title, .md-typeset .admonition.dxp>.admonition-title,
.md-typeset .admonition.enterprise>.admonition-title,
.md-typeset details.tip, .md-typeset details.tip>summary,
.md-typeset details.note, .md-typeset details.note>summary {
    background-color: #ffffff;
}

.md-typeset .admonition {
    font-size: 16px;
    box-shadow: none;
}

.admonition {
    border: .2rem solid;
}

.md-typeset .admonition-title {
    border-bottom: 1px solid;
}

.bootstrap-iso .admonition p {
    margin-top: 1em;
}

/* Fix scrollbar in admonitions when containing a table */
.md-typeset .admonition .md-typeset__scrollwrap {
    margin-right: 0;
}

/* Code highlighting */

.md-typeset code, .md-typeset pre {
    color: var(--ibexa-dusk-black);
}

.md-typeset .codehilite code, .md-typeset .codehilite pre {
    background-color: #fff;
    padding: 0;
}

.md-typeset .codehilite code, .md-typeset .codehilite pre code {
    padding: 1.05rem 1.2rem;
}

.md-typeset .codehilitetable {
    border: 1px solid var(--codeblock);
}

/* Code block scrollbar */

.md-typeset .codehilite pre code::-webkit-scrollbar {
    height: 10px;
}

.md-typeset .codehilite pre code::-webkit-scrollbar-track {
    background-color: var(--ibexa-snow); 
}

.md-typeset .codehilite pre code::-webkit-scrollbar-thumb {
    background: var(--codeblock);
}

.md-typeset .codehilite code, .md-typeset .codehilite pre code {
    padding: 0.5rem 0.5rem;
}

.md-typeset .codehilitetable .linenos {
    padding: 0;
    background-color: var(--codeblock);
}

.md-typeset .codehilitetable .linenodiv {
    padding: 0.5rem 0.5rem
}

.md-typeset .codehilitetable .linenodiv pre {
    color: var(--ibexa-snow);
    background-color: var(--codeblock);
}

.md-typeset .codehilite, .md-typeset .highlight pre {
    background-color: var(--inline-code);
}

.md-typeset code {
    background-color: var(--inline-code);
    padding: 1px 2px;
    margin: 3px;
    box-shadow: none;
    font-family: monospace;
}

.codehilite .hll {
    background-color: var(--code-highlight);
}

/* Tables */

.md-typeset table:not([class]) {
    border: 1px solid var(--table-header);
    box-shadow: none;
}

.md-typeset table:not([class]) th {
    background-color: var(--table-header);
}

.md-nav__link[data-md-state=blur] {
    color: rgb(19, 28, 38);
}

figure {
    margin: 0;
}

figcaption {
    font-size: 13px;
    font-style: italic;
    text-align: center;
}

a.external:after {
    content: url(../images/open-in-new.svg);
    font-style: normal;
    padding-left: 2px;
    position: relative;
    font-size: 11px;
    top: -5px;
}

.md-typeset .md-content__icon {
    padding: 0 3px;
}

[data-md-color-primary=blue-grey] .md-nav__link--active {
    color: var(--ibexa-dusk-black);
    font-weight: 700;
}


/* Image enlagement Modal */
#imageModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 125px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 90%;
  background-color: #fff;
}

#modalCaption {
  padding-top: 1em;
  display: block;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.md-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 80vh;
}

.md-content img:hover {
    cursor: pointer;
}

/* UI guidelines */

.ez-code-example {
    padding: 1.5rem;
    border-width: .2rem;
    border: solid #f8f9fa;
    border-bottom: 0;
}

.ez-code-example + .codehilitetable {
    padding-top: 0;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.injected {
    display: none;
}

@media (max-width: 575px) {
    table tr td:first-child:not(.linenos) {
        min-width: 0 !important;
        width: auto !important;
    }
}

/* Tabs */

.tabbed-set {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: 1.2rem;
}

.tabbed-set .highlight {
  background: #dee2e6;
}

.tabbed-set .tabbed-content {
  display: none;
  order: 99;
  width: 100%;
  border: 1px solid var(--ibexa-snow);
  padding: 4px 4px 4px 1rem;
  border-radius: 0 .2rem .2rem .2rem;
}

.tabbed-set label {
  width: auto;
  /* margin: 0 0.5em 0 0; */
  padding: 0.25em 1rem;
  cursor: pointer;
  border: 1px solid var(--ibexa-snow);
  border-bottom: 2px solid var(--ibexa-snow);
  border-radius: 4px 4px 0 0;
}

.tabbed-set input {
  position: absolute;
  opacity: 0;
}

.tabbed-set input:nth-child(n+1) {
  color: #333333;
  font-weight: 700;
}

.tabbed-set input:nth-child(n+1):checked + label {
  color: var(--ibexa-orange);
  font-weight: 700;
  border-bottom: 4px solid var(--ibexa-orange);
}

.tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
  display: block;
}

.badge {
    background-color: var(--ibexa-jazzberry);
    border-radius: 2.18px;
    padding: 3px 8px;
    color: var(--white);
    font-size: 9px;
    font-weight: 500;
}

.experience-badge::after {
    content: "Experience";
}

.experience-badge {
    background-color: var(--ibexa-orange);
}

.commerce-badge::after {
    content: "Commerce";
}

.commerce-badge {
    background-color: var(--ibexa-jazzberry);
}
