body, input {
    font-family: "Maven Pro", sans-serif;
    color: #63605d;
}

body {
    -webkit-font-smoothing: initial;
}

.md-typeset {
    font-size: 16px;
    line-height: 1.5;
    -webkit-print-color-adjust: exact;
}

.md-typeset a {
    color: #2a9dc7;
}

.md-typeset a:hover {
    color: #f15a22;
}

.md-nav__title {
    display: block;
    padding: 1.6rem 1.2rem 0;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #f15a22;
}

.md-nav__link:hover {
    color: #f15a22;
}

.md-nav--secondary {
    transition: border-left .25s;
    border-top: .4rem solid #f15a22;
    border-left: none;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-bottom: 10px;
}

.md-nav__item--nested>.md-nav__link {
    color: inherit;
    font-weight: 600;
}

.md-header-nav__button {
    padding: .5rem;
}

.md-logo img {
    width: 32px;
    height: 32px;
}


.md-header,
[data-md-color-primary=blue-grey] .md-header,
[data-md-color-primary=blue-grey] .md-hero
{
    background-color: #3a3b3c;
    color: #fff;
}

[data-md-color-primary=blue-grey] .md-typeset a {
    color: #2a9dc7;
}

[data-md-color-accent=deep-orange] .md-nav__link:focus,
[data-md-color-accent=deep-orange] .md-nav__link:hover,
[data-md-color-accent=deep-orange] .md-typeset .footnote li:hover .footnote-backref:hover,
[data-md-color-accent=deep-orange] .md-typeset .footnote li:target .footnote-backref,
[data-md-color-accent=deep-orange] .md-typeset .md-clipboard:active:before,
[data-md-color-accent=deep-orange] .md-typeset .md-clipboard:hover:before,
[data-md-color-accent=deep-orange] .md-typeset [id] .headerlink:focus,
[data-md-color-accent=deep-orange] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent=deep-orange] .md-typeset [id]:target .headerlink
{
    color: #f15a22;
}

[data-md-color-primary=blue-grey] .md-typeset .md-icon {
    color: rgba(0,0,0,.26);
}

.md-typeset code {
    color: #63605d;
}

.md-typeset h1 {
    margin: 0 0 1rem;
    color: #f15a22;
    font-size: 34px;
    line-height: 1;
    font-weight: 500;
}

.md-typeset h2 {
    font-size: 34px;
    font-weight: 500;
    line-height: 1;
}

.md-typeset h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
}

.md-typeset h4 {
    font-size: 23px;
}

.md-typeset h5 {
    font-size: 20px;
    text-transform: none;
}

.md-typeset h6 {
    font-size: 18px;
}

.md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
    color: #63605d;
}

.md-typeset h2, .md-typeset h3, .md-typeset h4 {
    font-weight: 500;
}

.md-typeset h5, .md-typeset h6 {
    font-weight: 600;
}

.md-footer-meta {
    background: #3a3a3a;
}

.md-footer-nav {
    background-color: #4c4c4c;
    color: #fff;
    margin-top: 50px;
}

.md-icon--home {
    padding: .5rem;
}

.md-icon--home:before {
    content: url('../images/eZ-Brandmark.png');
}

.admonition {
    font-size: 16px;
}

.admonition.enterprise .admonition-title:before {
    content: "";
}

.admonition.enterprise .admonition-title {
    padding-left: 1.2rem;
}


.admonition.enterprise {
    border-left: 5px solid rgba(241, 90, 34, 0.59);
    background-color: #ffffff;
}

.admonition.caution {
    border-color: #f46485;
    background-color: #fcd2dc;
}

.admonition.tip {
    border-color: #6ed28a;
    background-color: #d5f2dd;
}

.admonition.note {
    border-color: #4ec7f3;
    background-color: #c9eefb;
}

details {
    position: relative;
    margin: 1.5625em 0;
    padding: .8rem 1.2rem;
    border-left: 5px solid #4ec7f3;
    border-radius: .2rem;
    background-color: #c9eefb;
}

.md-typeset .codehilitetable .linenos {
    background-color: #c0c0c0;
    color: #fff;
}

.md-typeset .codehilite, .md-typeset .highlight pre {
    background-color: #f8f8f8;
}

.md-typeset code {
    background-color: #f0f0f0;
    padding: 1px 4px;
    margin: 0;
    box-shadow: none;
}

.codehilite .hll {
    background-color: #faecbc;
}

.md-nav__link[data-md-state=blur] {
    color: rgba(0, 0, 0, 0.36);
}

div.rst-versions {
    width: 250px;
    border-top: 0;
    background: #3a3b3c;
    font-size: 10pt;
}

.rst-versions div.rst-other-versions {
    background-color: rgba(0,0,0,.26) !important;
}

figure {
    margin: 0;
}

figcaption {
    font-size: 13px;
    font-style: italic;
}

a.external:after {
    content: 'open_in_new';
    font-family: Material Icons;
    font-style: normal;
    padding-left: 2px;
    position: relative;
    font-size: 11px;
    top: -5px;
}

.md-typeset .md-content__icon {
    padding: 0 3px;
}

.md-nav__link--active {
    font-weight: 700;
}

.md-search__form {
    font-size: 11pt;
}

.md-search-result__item {
    list-style: none;
}

.md-search__output {
    display: none;
}

[data-md-toggle="search"]:checked ~ .md-header .md-search__inner {
    box-sizing: border-box;
}

.algolia-autocomplete {
    display: block !important;
    box-sizing: border-box;
}

.md-search__icon {
    z-index: 0;
}
