:root {
    --ibexa-orange: rgb(255,71,19);
    --ibexa-red: rgb(219,0,50);
    --ibexa-jazzberry: rgb(174,17,100);
    --ibexa-dusk-black: rgb(19,28,38);
    --ibexa-snow: rgb(224,224,232);
    --black: rgb(0,0,0);
    --white: rgb(255,255,255);
    --warm-stone: rgb(236,223,209);
    --turquoise-pearl: rgb(71,190,219);
    --yellow-orange: rgb(252,174,66);
    --apricot: rgb(241,138,107);
    --sherpa-blue: rgb(0,77,93);
    
    
    --caution-border: var(--ibexa-orange);
    --note-border: rgb(201,201,208);
    --enterprise-border: var(--ibexa-jazzberry);
    
    --codeblock: rgb(89,96,103);
    --inline-code: rgb(242,242,245);
    --table-header: rgb(89,96,103);
    --code-highlight: rgb(253,230,198);
    
    --link: rgb(56,152,175);
}

@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Work Sans";
    src: url("../fonts/Work_Sans/WorkSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body, input {
    font-family: "Noto Sans", sans-serif;
    color: var(--ibexa-dusk-black);
}

body {
    -webkit-font-smoothing: initial;
}

.md-typeset {
    font-size: 16px;
    line-height: 1.5;
    -webkit-print-color-adjust: exact;
}

.md-typeset a:hover {
    color: var(--ibexa-orange);
}

.md-nav__title {
    display: block;
    padding: 1.6rem 1.2rem 0;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--ibexa-orange);
}

.md-nav__heading {
    font-weight: 700;
}

.md-nav__link:hover {
    color: var(--ibexa-orange);
}

.md-nav__link::after {
    font-weight: 700;
}

.md-nav--secondary {
    transition: border-left .25s;
    border-left: none;
    padding-left: 10px;
    padding-bottom: 10px;
}

.md-nav__item {
    padding: 0 1.75rem;
}

.md-nav--primary > .md-nav__list > .md-nav__item:first-of-type {
    font-weight: 700;
    color: var(--ibexa-orange);
}

.md-header-nav__button {
    padding: .5rem;
}

.md-sidebar__inner {
    font-family: "Work Sans", sans-serif;
}

.md-logo {
    margin-top: 0;
    padding-top: .2rem;
}


.md-header,
[data-md-color-primary=blue-grey] .md-header,
[data-md-color-primary=blue-grey] .md-hero
{
    background-color: var(--ibexa-dusk-black);
    color: #fff;
}

[data-md-color-primary=blue-grey] .md-typeset a {
    color: var(--link);
}

[data-md-color-primary=blue-grey] .md-typeset th a {
    color: #fff;
}

[data-md-color-accent=deep-orange] .md-nav__link:focus,
[data-md-color-accent=deep-orange] .md-nav__link:hover,
[data-md-color-accent=deep-orange] .md-typeset .footnote li:hover .footnote-backref:hover,
[data-md-color-accent=deep-orange] .md-typeset .footnote li:target .footnote-backref,
[data-md-color-accent=deep-orange] .md-typeset .md-clipboard:active:before,
[data-md-color-accent=deep-orange] .md-typeset .md-clipboard:hover:before,
[data-md-color-accent=deep-orange] .md-typeset [id] .headerlink:focus,
[data-md-color-accent=deep-orange] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent=deep-orange] .md-typeset [id]:target .headerlink,
html .md-footer-meta.md-typeset a:hover
{
    color: var(--ibexa-orange);
}

[data-md-color-primary=blue-grey] .md-typeset .md-icon {
    color: rgba(0,0,0,.26);
}

/* Headings */

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
    font-family: "Work Sans", sans-serif;
    color: var(--ibexa-dusk-black);
    line-height: 1;
}

.md-typeset h1 {
    margin: 0 0 1rem;
    font-size: 42px;
}

.md-typeset h2 {
    font-size: 34px;
}

.md-typeset h3 {
    font-size: 26px;
}

.md-typeset h4 {
    font-size: 23px;
}

.md-typeset h5 {
    font-size: 20px;
    text-transform: none;
}

.md-typeset h6 {
    font-size: 18px;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
    font-weight: 600;
}

.md-footer-meta {
    background: #fff;
}

.md-footer-nav {
    background-color: #fff;
    border-top: 1px solid #e0e0e8;
}

.md-footer-nav, .md-footer-nav__direction {
    color: var(--ibexa-dusk-black);
}

.md-footer-nav span:hover {
    color: var(--ibexa-orange);
}

.md-footer-copyright, .md-footer-copyright__highlight {
    color: var(--ibexa-dusk-black);
}

html .md-footer-meta.md-typeset a {
    color: var(--link);
}

.md-icon--home {
    padding: .5rem;
}

/* Admonitions */

.md-typeset details {
    font-size: 16px;
    box-shadow: none;
}

.md-typeset details {
    border: .4rem solid;
}

/* Enterprise */

.admonition.enterprise .admonition-title {
    padding-left: 1.2rem;
}

.admonition .admonition>.admonition-title {
    padding-left: 3.8rem;
}

.admonition.enterprise, .admonition.enterprise>.admonition-title {
    border-color: var(--enterprise-border);
    background-color: #ffffff;
}

/* Caution */

.md-typeset .admonition.caution, .md-typeset .admonition.caution>.admonition-title {
    border-color: var(--caution-border);
}

.md-typeset .admonition.caution>.admonition-title:before {
    color: var(--caution-border);
}

/* Note, tip and expand box */

.md-typeset .admonition.tip,
.md-typeset .admonition.tip>.admonition-title,
.md-typeset .admonition.note,
.md-typeset .admonition.note>.admonition-title,
.md-typeset details.tip, .md-typeset details.note
{
    border-color: var(--note-border);
}

.md-typeset .admonition.note>.admonition-title:before, .md-typeset .admonition.tip>.admonition-title:before,
.md-typeset .admonition.caution>.admonition-title:before, .md-typeset .admonition.enterprise>.admonition-title:before,
.md-typeset details.note>summary:before, .md-typeset details.tip>summary:before, .md-typeset details.caution>summary:before {
    content: "";
}

.md-typeset .admonition.note>.admonition-title, .md-typeset details.note>summary {
    background: url("../images/notes-edit.svg");
}

.md-typeset .admonition.tip>.admonition-title, .md-typeset details.tip>summary {
    background: url("../images/light-bulb-shine.svg");
}

.md-typeset .admonition.caution>.admonition-title, .md-typeset details.caution>summary {
    background: url("../images/alert-triangle.svg");
}

.md-typeset .admonition.note>.admonition-title, .md-typeset .admonition.tip>.admonition-title,
.md-typeset .admonition.caution>.admonition-title, .md-typeset .admonition.enterprise>.admonition-title,
.md-typeset details.tip>summary, .md-typeset details.note>summary, .md-typeset details.caution>summary {
    background-repeat: no-repeat;
    background-size: 24px;
    background-origin: content-box;
    background-position-x: -3rem;
}


/* General admonitions */

.md-typeset .admonition.caution>.admonition-title, .md-typeset .admonition.note>.admonition-title,
.md-typeset .admonition.tip>.admonition-title, .md-typeset .admonition.enterprise>.admonition-title,
.md-typeset details.tip, .md-typeset details.tip>summary,
.md-typeset details.note, .md-typeset details.note>summary {
    background-color: #ffffff;
}

.md-typeset .admonition {
    font-size: 16px;
    box-shadow: none;
}

.admonition {
    border: .4rem solid;
}

.bootstrap-iso .admonition p {
    margin-top: 1em;
}

/* Fix scrollbar in admonitions when containing a table */
.md-typeset .admonition .md-typeset__scrollwrap {
    margin-right: 0;
}

/* Code highlighting */

.md-typeset code, .md-typeset pre {
    color: var(--ibexa-dusk-black);
}

.md-typeset .codehilite code, .md-typeset .codehilite pre {
    background-color: #fff;
    padding: 0;
}

.md-typeset .codehilite code, .md-typeset .codehilite pre code {
    padding: 1.05rem 1.2rem;
}

.md-typeset .codehilitetable {
    border: 1px solid var(--codeblock);
}

/* Code block scrollbar */

.md-typeset .codehilite pre code::-webkit-scrollbar {
    height: 10px;
}

.md-typeset .codehilite pre code::-webkit-scrollbar-track {
    background-color: var(--ibexa-snow); 
}

.md-typeset .codehilite pre code::-webkit-scrollbar-thumb {
    background: var(--codeblock);
}

.md-typeset .codehilitetable .linenos {
    background-color: var(--codeblock);
    color: #fff;
}

.md-typeset .codehilitetable .linenodiv {
    padding: 1.05rem 1.2rem
}

.md-typeset .codehilite, .md-typeset .highlight pre {
    background-color: var(--inline-code);
}

.md-typeset code {
    background-color: var(--inline-code);
    padding: 1px 2px;
    margin: 3px;
    box-shadow: none;
    font-family: monospace;
}

.codehilite .hll {
    background-color: var(--code-highlight);
}

/* Tables */

.md-typeset table:not([class]) {
    border: 1px solid var(--table-header);
    box-shadow: none;
}

.md-typeset table:not([class]) th {
    background-color: var(--table-header);
}

.md-nav__link[data-md-state=blur] {
    color: rgba(0, 0, 0, 0.36);
}

div.rst-versions {
    width: 250px;
    border-top: 0;
    background: var(--ibexa-dusk-black);
    font-size: 10pt;
}

.rst-versions div.rst-other-versions {
    background-color: rgba(0,0,0,.26) !important;
}

figure {
    margin: 0;
}

figcaption {
    font-size: 13px;
    font-style: italic;
    text-align: center;
}

a.external:after {
    content: 'open_in_new';
    font-family: Material Icons;
    font-style: normal;
    padding-left: 2px;
    position: relative;
    font-size: 11px;
    top: -5px;
}

.md-typeset .md-content__icon {
    padding: 0 3px;
}

[data-md-color-primary=blue-grey] .md-nav__link--active {
    color: var(--ibexa-dusk-black);
    font-weight: 700;
}

.md-search__form {
    font-size: 11pt;
}

.md-search-result__item {
    list-style: none;
}

.md-search__output {
    display: none;
}

[data-md-toggle="search"]:checked ~ .md-header .md-search__inner {
    box-sizing: border-box;
}

.md-search__input  {
    background-color: rgb(66,73,81);
}

.md-search__input::placeholder, .md-search__input:-ms-input-placeholder {
    color: var(--white);
}

.md-search__input:hover  {
    background-color: rgb(84,91,98);
}

.md-search__icon {
    color: var(--white);
}

.ds-dataset-1 {
    max-height: calc(100vh - 5.5rem);
}

.algolia-autocomplete {
    display: block !important;
    box-sizing: border-box;
}

/* Image enlagement Modal */
#imageModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 125px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 60%;
  max-height: 90%;
  background-color: #fff;
}

#modalCaption {
  padding-top: 1em;
  display: block;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.md-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 80vh;
}

.md-content img:hover {
    cursor: pointer;
}

/* UI guidelines */

.ez-code-example {
    padding: 1.5rem;
    border-width: .2rem;
    border: solid #f8f9fa;
    border-bottom: 0;
}

.ez-code-example + .codehilitetable {
    padding-top: 0;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.injected {
    display: none;
}

@media (max-width: 575px) {
    table tr td:first-child:not(.linenos) {
        min-width: 0 !important;
        width: auto !important;
    }
}

/* Tabs */

.tabbed-set {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: 1.2rem;
}

.tabbed-set .highlight {
  background: #dee2e6;
}

.tabbed-set .tabbed-content {
  display: none;
  order: 99;
  width: 100%;
  border: 1px solid var(--ibexa-snow);
  padding: 4px 4px 4px 1rem;
  border-radius: 0 .2rem .2rem .2rem;
}

.tabbed-set label {
  width: auto;
  /* margin: 0 0.5em 0 0; */
  padding: 0.25em 1rem;
  cursor: pointer;
  border: 1px solid var(--ibexa-snow);
  border-bottom: 2px solid var(--ibexa-snow);
  border-radius: 4px 4px 0 0;
}

.tabbed-set input {
  position: absolute;
  opacity: 0;
}

.tabbed-set input:nth-child(n+1) {
  color: #333333;
  font-weight: 700;
}

.tabbed-set input:nth-child(n+1):checked + label {
  color: var(--ibexa-orange);
  font-weight: 700;
  border-bottom: 4px solid var(--ibexa-orange);
}

.tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
  display: block;
}

.github-icon {
    padding: 1rem;
}
