body, input {
    font-family: "Maven Pro", sans-serif;
    color: #63605d;
}

body {
    -webkit-font-smoothing: initial;
}

.md-typeset {
    font-size: 16px;
    line-height: 1.5;
    -webkit-print-color-adjust: exact;
}

.md-typeset a {
    color: #2a9dc7;
}

.md-typeset a:hover {
    color: #f15a22;
}

.md-nav__title {
    display: block;
    padding: 1.6rem 1.2rem 0;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #f15a22;
}

.md-nav__link:hover {
    color: #f15a22;
}

.md-nav--secondary {
    transition: border-left .25s;
    border-top: .4rem solid #f15a22;
    border-left: none;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-bottom: 10px;
}

.md-nav__item--nested>.md-nav__link {
    color: inherit;
    font-weight: 600;
}

.md-header {
    background-color: #3a3b3c;
    color: #fff;
}

.md-search__form {
    width: 35rem;
}

.md-typeset code {
    color: #63605d;
}

.md-typeset h1 {
    margin: 0 0 1rem;
    color: #f15a22;
    font-size: 34px;
    line-height: 1;
    font-weight: 500;
}

.md-typeset h2 {
    font-size: 27px;
    font-weight: 500;
    line-height: 1;
}

.md-typeset h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
}

.md-footer-meta {
    background: #3a3a3a;
}

.md-footer-nav {
    background-color: #4c4c4c;
    color: #fff;
    margin-top: 50px;
}

.md-icon--home {
    padding: .5rem;
}

.md-icon--home:before {
    content: url('../images/eZ-Brandmark.png');
}

.admonition.tip:before {
   content: "lightbulb_outline";
}

.admonition.enterprise:before {
    content: "";
}

.admonition.enterprise {
    border-left: 5px solid rgba(241, 90, 34, 0.59);
    background-color: rgba(241, 90, 34, 0.21);
}

.md-nav__link[data-md-state=blur] {
    color: rgba(0, 0, 0, 0.36);
}

div.rst-versions {
    width: 250px;
    border-top: 0;
    background: #3a3b3c;
    font-size: 10pt;
}

.rst-versions div.rst-other-versions {
    background-color: rgba(0,0,0,.26) !important;
}

figure {
    margin: 0;
}

a.external:after {
    content: 'open_in_new';
    font-family: Material Icons;
    font-style: normal;
    padding-left: 2px;
    position: relative;
    font-size: 11px;
    top: -5px;
}

.md-typeset .md-content__icon {
    padding: 0 3px;
}

.md-nav__link--active {
    font-weight: 700;
}

.md-search-result__item {
    list-style: none;
}

.md-search__loader {
    padding: 1rem 1rem 1rem 4.8rem;
    font-size: 15pt;
    display: block;
    color: rgba(0,0,0,.54);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#fff),to(hsla(0,0%,100%,0))),-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.26)),color-stop(35%,rgba(0,0,0,.07)),color-stop(60%,transparent));
    background: linear-gradient(180deg,#fff 10%,hsla(0,0%,100%,0)),linear-gradient(180deg,rgba(0,0,0,.26),rgba(0,0,0,.07) 35%,transparent 60%);
    background-attachment: local,scroll;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 2rem,100% 1rem;
    box-shadow: inset 0 .1rem 0 rgba(0,0,0,.07);
}

.md-search__loader:not(.md-search__loader--active) {
    display: none;
}

.md-search__loader:before {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    content: "";
    top: 3px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transform-origin: 46% 54%;
    -webkit-transform-origin: 46% 54%;
    -moz-transform-origin: 46% 54%;
    -ms-transform-origin: 46% 54%;
    -o-transform-origin: 46% 54%;
    -webkit-animation: loader_spin 1s linear infinite;
    -moz-animation: loader_spin 1s linear infinite;
    animation: loader_spin 1s linear infinite;
    background: url("../images/loading.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.md-search__loader--hide {
    display: none;
}

@-moz-keyframes loader_spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes loader_spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loader_spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
