.ez-guidelines .ez-code-example .ez-label {
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 700;
    color: #333;
}
.ez-guidelines .ez-code-example .ez-label:after {
    content: ": ";
}
.ez-guidelines .ez-code-example .form-group .form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 0.375em 0.75em;
    font-size: 1em;
    line-height: 1.5;
    color: #878787;
    background-clip: padding-box;
    border: 1px solid #ededed;
    border-radius: 0.25em;
    transition: cubic-bezier(0.25, 0.8, 0.25, 1);
}
.ez-guidelines .ez-guidelines-formcomponent-number .ez-code-example .form-control {
    width: 10%;
}

.ez-guidelines .ez-guidelines-formcomponent-multiple .ez-code-example .form-group .form-control {
    height: 104px;
}
.ez-guidelines .ez-code-example .form-check-inline {
    display: inline-flex;
    align-items: center;
    margin-right: 0.75em;
    width: 100%;
    padding-left: 0;
}
.ez-guidelines .ez-code-example .form-check-inline .form-check-input {
    position: relative;
    margin-top: 0;
    margin-right: 0.3125em;
    margin-left: 0;
}
.ez-guidelines .ez-guidelines-formcomponent-radioExample .ez-code-example .example-group {
    margin-top: 0.5em;
}
.ez-guidelines .ez-guidelines-formcomponent-radioExample .ez-code-example .example-group .form-control {
    font-size: initial;
}
.ez-guidelines .ez-guidelines-formcomponent-radioExample .ez-code-example .ez-icon {
    margin-right: 0.25em;
}
.ez-guidelines.md-typeset.bootstrap-iso .ez-code-example .form-group,
.ez-guidelines.md-typeset.bootstrap-iso .ez-guidelines-formcomponent .ez-code-example .form-group {
    margin-bottom: 0;
}
.ez-guidelines.md-typeset.bootstrap-iso .ez-guidelines-formcomponent .ez-code-example .form-group .form-control {
    width: auto;
    height: 38px;
}
.ez-guidelines.md-typeset.bootstrap-iso label {
    margin-top: 0.25em;
    margin-bottom: 0;
}
