.ez-guidelines .color-box {
    margin: .75em 1.25em 1em 0;
    width: 7em;
}
.ez-guidelines .color-box .color-frame {
    height: 5em;
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid transparent;
    border-radius: .25em;
}
.ez-guidelines .color-box .color-frame-light {
    border: 1px solid #ddd;
}
.ez-guidelines .color-box .color-code {
    text-align: center;
    margin-top: 1.65em;
}
.ez-guidelines .color-box .color-label {
    margin-top: -.75em;
    margin-bottom: 0;
    font-size: .8125em;
}
.ez-guidelines .ez-color-primary {
    background-color: #f15a10;
}
.ez-guidelines .ez-color-secondary {
    background-color: #0f6d95;
}
.ez-guidelines .ez-color-hyperlink {
    background-color: #0645ad;
}
.ez-guidelines .ez-color-positive {
    background-color: #00825c;
}
.ez-guidelines .ez-color-warning {
    background-color: #f7d000;
}
.ez-guidelines .ez-color-danger {
    background-color: #d92d42;
}
.ez-guidelines .ez-ground-base-pale {
    background-color: #fafafa;
}
.ez-guidelines .ez-ground-base-light {
    background-color: #f5f5f5;
}
.ez-guidelines .ez-ground-base {
    background-color: #f3f3f3;
}
.ez-guidelines .ez-ground-base-medium {
    background-color: #ededed;
}
.ez-guidelines .ez-ground-base-dark {
    background-color: #e5e3e3;
}
.ez-guidelines .ez-color-base-pale{
    background-color: #dbdbdb;
}
.ez-guidelines .ez-color-base-light {
    background-color: #878787;
}
.ez-guidelines .ez-color-base-medium {
    background-color: #646464;
}
.ez-guidelines .ez-color-base-dark {
    background-color: #555;
}
.ez-guidelines .ez-color-white {
    background-color: #fff;
}
.ez-guidelines .ez-color-black {
    background-color: #333;
}
.ez-guidelines .ez-secondary-gound-pale {
    background-color: #e1f5ff;
}
.ez-guidelines .ez-ground-primary {
    background-color: #a8c8d5;
}
.ez-guidelines .ez-secondary-ground {
    background-color: #2b84b1;
}
.ez-guidelines .ez-secondary-ground-dark {
    background-color: #0a5574;
}
.ez-guidelines .ez-ground-primary-inverted {
    background-color: #565e63;
}
.ez-guidelines .ez-ground-primary-inverted-light {
    background-color: #445a64;
}
.ez-guidelines .ez-color-warning-pale {
    background-color: #fceaec;
}
.ez-guidelines .ez-color-warning-dark {
    background-color: #aa0000;
}
.ez-guidelines .ez-alloyeditor-color-hover {
    background-color: #65b6f0;
}
