.ez-guidelines.bootstrap-iso .ez-guidelines-badges .badge {
    padding: 4px;
    font-size: 13px;
    font-weight: 700;
}
.ez-guidelines.bootstrap-iso .ez-guidelines-badges .badge.badge-info {
    color: #fff;
    background: #17a2b8;
}
.ez-guidelines.bootstrap-iso .ez-guidelines-badges .badge.badge-warning {
    color: #555;
    background: #f7d000;
}
.ez-guidelines.bootstrap-iso .ez-guidelines-badges .badge.badge-danger {
    color: #fff;
    background: #d92d42;
}
.ez-guidelines.bootstrap-iso .ez-guidelines-badges .badge.badge-secondary {
    color: #fff;
    background: #106d95;
}
.ez-guidelines.bootstrap-iso .ez-guidelines-badges .ez-badge.ez-badge--small {
    font-size: 12px;
    font-weight: 400;
}
.ez-guidelines.bootstrap-iso .ez-guidelines-badges .ez-icon {
    margin-right: 4px;
}
.ez-guidelines.bootstrap-iso .ez-guidelines-badges .ez-icon--small {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.ez-guidelines.bootstrap-iso .ez-guidelines-badges--sample .ez-badge:last-of-type .ez-icon {
    fill: #fff;
}
.ez-guidelines.bootstrap-iso .ez-guidelines-badges--sample-contextual .ez-details-items {
    padding: 0 3em;
    max-height: 2em;
    background: #ededed;
}
.ez-guidelines.bootstrap-iso .ez-guidelines-badges--sample-contextual .ez-details-items__connector {
    display: inline-block;
    color: #878787;
    font-size: 12px;
    font-weight: 600;
}
.ez-guidelines.bootstrap-iso .ez-guidelines-badges--sample-contextual .ez-details-items__pill {
    display: inline-block;
    margin: 2px 3px;
    border-radius: 4px;
    padding: 4px;
    font-size: 12px;
}
.ez-guidelines.bootstrap-iso .ez-guidelines-badges--sample-contextual .ez-icon.ez-icon--small {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.ez-guidelines.bootstrap-iso .ez-guidelines-badges--sample-contextual .ez-details-items__pill.ez-details-items__pill--content-type {
    color: #646464;
    background: #fff;
} 
.ez-guidelines.bootstrap-iso .ez-guidelines-badges--sample-contextual .ez-details-items__pill.ez-details-items__pill--language {
    color: #fff;
    font-style: italic;
    background: #878787;
}
.ez-guidelines.bootstrap-iso .ez-guidelines-badges--sample-contextual .ez-details-items__pill.ez-details-items__pill--location {
    color: #0a5574;
    background: #fff;
}
.ez-guidelines.bootstrap-iso .ez-guidelines-badges--sample-contextual .ez-details-items__connector {
    display: inline-block;
    color: #878787;
    font-size: 12px;
    font-weight: 600;
}
.ez-guidelines.bootstrap-iso .ez-guidelines-badges--sample-contextual .ez-details-items__connector.ez-details-items__connector--small {
    font-size: 11px;
    font-weight: 100;
}
