.ez-guidelines {
    /*=== Navbar ===*/
    /*=== Right Side NavBar ===*/
    /*=== Content ===*/
    /* Resources - typography */
    /* Resources - Colors */
    /* Resources - Icons */
    /* Components - coding strip */
    /* prism.css overwrite */
    /* Components - buttons */
    /* Components - Form */
    /* Components - Modals */
    /* Components - tabs */
}

/*==== UTILITIES/HELPERS ====*/
/* Spacing */
.mgt-5 {
    margin-top: 2em;
    display: inline-block;
}
.mgt-4 {
    margin-top: 1.75em;
    display: inline-block;
}
.mgt-3 {
    margin-top: 1.5em;
    display: inline-block;
}
.mgt-2 {
    margin-top: 1em;
    display: inline-block;
}
.mgt-1 {
    margin-top: .5em;
    display: inline-block;
}
.mgb-5 {
    margin-bottom: 2em;
    display: inline-block;
}
.mgb-4 {
    margin-bottom: 1.75em;
    display: inline-block;
}
.mgb-3 {
    margin-bottom: 1.5em;
    display: inline-block;
}
.mgb-2 {
    margin-bottom: 1em;
    display: inline-block;
}
.mgb-1 {
    margin-bottom: .5em;
    display: inline-block;
}
.mgb-0 {
    margin-bottom: 0;
    display: inline-block;
}
.mgl-5 {
    margin-left: 2em;
}
.mgl-4 {
    margin-left: 1.75em;
}
.mgl-3 {
    margin-left: 1.5em;
}
.mgl-2 {
    margin-left: 1em;
}
.mgl-1 {
    margin-left: .5em;
}
/* ------------------- */
.header-line {
    display: block;
    border-bottom: 1px solid #63605d;
}
.wrapper-samples {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: -1em;
}
/* Typography */
.ez-guidelines .ez-guidelines-font {
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}
.ez-guidelines .ez-guidelines-h1 {
    font-size: 1.75em;
    margin-bottom: 0;
}
.ez-guidelines .ez-guidelines-h2 {
    font-size: 1.5em;
    margin-bottom: 0;
}
.ez-guidelines .ez-guidelines-h3 {
    font-size: 1.25em;
    margin-bottom: 0;
}
.ez-guidelines .ez-guidelines-h4 {
    font-size: 1.125em;
    margin-bottom: 0;
}
.ez-guidelines .ez-guidelines-h5 {
    font-size: 1.0625em;
    margin-bottom: 0;
}
.type-box {
    width: 25%;
    margin: .5em 2em 1em 0;
    border: 1px solid #fce3da;
    border-radius: .5em;
    text-align: center;
}
.letter-sample {
    font-size: 5em;
}
.letter-sample-italic {
    font-style: italic;
}
.letter-sample-bold {
    font-weight: 700;
}

/* Colors */
.color-box {
    margin: .75em 1.25em 1em 0;
    width: 7em;
}
.color-box .color-frame {
    height: 5em;
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid transparent;
    border-radius: .25em;
}
.color-box .color-frame-light {
    border: 1px solid #ddd;
}
.color-box .color-code {
    text-align: center;
    margin-top: 1.65em;
}
.color-box .color-label {
    margin-top: -.75em;
    margin-bottom: 0;
    font-size: .8125em;
}
.ez-color-primary {
    background-color: #f15a10;
}
.ez-color-secondary {
    background-color: #0f6d95;
}
.ez-color-hyperlink {
    background-color: #0645ad;
}
.ez-color-positive {
    background-color: #00825c;
}
.ez-color-warning {
    background-color: #f7d000;
}
.ez-color-danger {
    background-color: #d92d42;
}
.ez-ground-base-pale {
    background-color: #fafafa;
}
.ez-ground-base-light {
    background-color: #f5f5f5;
}
.ez-ground-base {
    background-color: #f3f3f3;
}
.ez-ground-base-medium {
    background-color: #ededed;
}
.ez-ground-base-dark {
    background-color: #e5e3e3;
}
.ez-color-base-pale{
    background-color: #dbdbdb;
}
.ez-color-base-light {
    background-color: #878787;
}
.ez-color-base-medium {
    background-color: #646464;
}
.ez-color-base-dark {
    background-color: #555;
}
.ez-color-white {
    background-color: #fff;
}
.ez-color-black {
    background-color: #333;
}
.ez-secondary-gound-pale {
    background-color: #e1f5ff;
}
.ez-ground-primary {
    background-color: #a8c8d5;
}
.ez-secondary-ground {
    background-color: #2b84b1;
}
.ez-secondary-ground-dark {
    background-color: #0a5574;
}
.ez-ground-primary-inverted {
    background-color: #565e63;
}
.ez-ground-primary-inverted-light {
    background-color: #445a64;
}
.ez-color-warning-pale {
    background-color: #fceaec;
}
.ez-color-warning-dark {
    background-color: #aa0000;
}
.ez-alloyeditor-color-hover {
    background-color: #65b6f0;
}

/*.ez-guidelines hr {
    margin-top: 0;
    border-top: 1px solid #333;
}
*/

.icon-box {
    margin: .5em .5em 0 0;
    width: 7em;
}
.icon-box .icon-frame {
    height: 9em;
    width: 7em;
    background-color: #f3f3f3;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}
.icon-box .icon-label {
    margin-top: -3em;
    padding: 0 .5em;
    font-size: .75em;
    text-align: center;
    line-height: 14px;
}
/*.icon-label-line {
    line-height: 11px;
    margin-top: -0.65rem;
}*/


.ez-guidelines .ez-icon-x1 {
    font-size: 1em;
}
.ez-guidelines .ez-icon-x2 {
    font-size: 2em;
}
.ez-guidelines .ez-icon-x3 {
    font-size: 2.5em;
}
.ez-guidelines .ez-icon-x4 {
    font-size: 3em;
}
.ez-guidelines .ez-icon-x5 {
    font-size: 4em;
}
