.ez-guidelines .mgt-5 {
    margin-top: 2em;
}
.ez-guidelines .mgt-4 {
    margin-top: 1.75em;
}
.ez-guidelines .mgt-3 {
    margin-top: 1.5em;
}
.ez-guidelines .mgt-2 {
    margin-top: 1em;
}
.ez-guidelines .mgt-1 {
    margin-top: .5em;
}
.ez-guidelines .mgt-minus-5 {
    margin-top: -2em;
}
.ez-guidelines .mgt-minus-4 {
    margin-top: -1.75em;
}
.ez-guidelines .mgt-minus-3 {
    margin-top: -1.5em;
}
.ez-guidelines .mgt-minus-2 {
    margin-top: -1em;
}
.ez-guidelines .mgt-minus-1 {
    margin-top: -.5em;
}
.ez-guidelines .mgb-5 {
    margin-bottom: 2em;
}
.ez-guidelines .mgb-4 {
    margin-bottom: 1.75em;
}
.ez-guidelines .mgb-3 {
    margin-bottom: 1.5em;
}
.ez-guidelines .mgb-2 {
    margin-bottom: 1em;
}
.ez-guidelines .mgb-1 {
    margin-bottom: .5em;
}
.ez-guidelines .mgb-0 {
    margin-bottom: 0;
}
.ez-guidelines .mgl-5 {
    margin-left: 2em;
}
.ez-guidelines .mgl-4 {
    margin-left: 1.75em;
}
.ez-guidelines .mgl-3 {
    margin-left: 1.5em;
}
.ez-guidelines .mgl-2 {
    margin-left: 1em;
}
.ez-guidelines .mgl-1 {
    margin-left: .5em;
}
