.ez-guidelines .ez-guidelines-switcher .ez-data-source__label {
    position: relative;
    top: calc(50% - 15px);
    width: 4em;
    height: calc(2em + 0.25em);
    border-radius: 50px;
    cursor: pointer;
}
.ez-guidelines .ez-guidelines-switcher .ez-data-source__input {
    opacity: 0;
    height: 1px;
    display: none;
}
.ez-guidelines .ez-guidelines-switcher .ez-data-source__input:checked + .ez-data-source__indicator {
    background: #2b84b1;
    opacity: 1;
}
.ez-guidelines .ez-guidelines-switcher .ez-data-source__input:checked + .ez-data-source__indicator::before {
    transform: translateX(1.75em);
}
.ez-guidelines .ez-guidelines-switcher .ez-data-source__indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dbdbdb;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.ez-guidelines .ez-guidelines-switcher .ez-data-source__indicator::before {
    content: "";
    position: absolute;
    width: 2em;
    height: 2em;
    top: 2px;
    left: 2px;
    border-radius: 50px;
    background: #fff;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.ez-guidelines .ez-guidelines.md-typeset.bootstrap-iso label {
    margin: 0;
}
.ez-guidelines .ez-guidelines-switcher-icons .ez-checkbox-icon {
    position: relative;
    margin: 0;
    border: 2px solid #106d95;
    border-radius: 0.25em;
    min-width: 4.6875em;
    padding: 4px;
    line-height: 0.5;
    z-index: 1;
    cursor: pointer;
}
.ez-guidelines .ez-guidelines-switcher-icons .ez-checkbox-icon:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 0.25em;
    width: 2em;
    height: 2em;
    background-color: #106d95;
    z-index: -1;
    transform: translate(calc(100% + 0.3em), -50%);
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.ez-guidelines .ez-guidelines-switcher-icons .ez-checkbox-icon .ez-icon {
    margin: 0.125em;
    height: 1.5em;
    width: 1.5em;
    fill: #106d95;
}
.ez-guidelines .ez-guidelines-switcher-icons .ez-checkbox-icon .ez-icon + .ez-icon {
    margin: 0.125em 0.125em 0.125em 0.3125em;
    fill: #fff;
}
.ez-guidelines .ez-guidelines-switcher-icons .ez-checkbox-icon.is-checked:before {
    transform: translate(.15em, -50%);
}

.ez-guidelines .ez-guidelines-switcher-icons .ez-checkbox-icon.is-checked .ez-icon {
    fill: #fff;
}
.ez-guidelines .ez-guidelines-switcher-icons .ez-checkbox-icon.is-checked .ez-icon + .ez-icon {
    fill: #106d95;
}
.ez-guidelines .ez-guidelines-switcher-icons--primary .ez-checkbox-icon.is-checked .ez-icon + .ez-icon {
    fill: #f15a10;
}
.ez-guidelines .ez-guidelines-switcher-icons .ez-checkbox-icon .ez-checkbox-icon__checkbox {
    display: none;
}

.ez-guidelines .ez-guidelines-switcher-icons .ez-checkbox-icon.ez-page-info-bar-switcher {
    border: 2px solid #f15a10;
}
.ez-guidelines .ez-guidelines-switcher-icons .ez-checkbox-icon.ez-page-info-bar-switcher:before {
    background-color: #f15a10;
}
.ez-guidelines .ez-guidelines-switcher-icons .ez-checkbox-icon.ez-page-info-bar-switcher:not(.is-checked) .ez-icon.ez-icon--view {
    fill: #f15a10;
}
.ez-guidelines .ez-guidelines-switcher-preview .ez-preview-switcher {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 44px;
    width: 118px;
    border: 2px solid #646464;
    border-radius: 4px;
}
.ez-guidelines .ez-guidelines-switcher-preview .ez-preview-switcher__action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 34px;
    width: 34px;
    height: 34px;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    transition: background 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
}
.ez-guidelines .ez-guidelines-switcher-preview .ez-preview-switcher__action .ez-icon {
    width: 24px;
    height: 24px;
    fill: #646464;
}
.ez-guidelines .ez-guidelines-switcher-preview .ez-preview-switcher__action:hover,
.ez-guidelines .ez-guidelines-switcher-preview .ez-preview-switcher__action:focus {
    background: #3e3e3e;
    outline: none;
}
.ez-guidelines .ez-guidelines-switcher-preview .ez-preview-switcher__action:hover .ez-icon,
.ez-guidelines .ez-guidelines-switcher-preview .ez-preview-switcher__action:focus .ez-icon {
    fill: #fff;
}
.ez-guidelines .ez-guidelines-switcher-preview .ez-preview-switcher__action--selected {
    background: #646464;
}
.ez-guidelines .ez-guidelines-switcher-preview .ez-preview-switcher__action--selected .ez-icon {
    fill: #fff;
}
