.ez-guidelines .ez-guidelines-font {
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}
.ez-guidelines .ez-guidelines-h1 {
    font-size: 1.75em;
    margin-bottom: 0;
}
.ez-guidelines .ez-guidelines-h2 {
    font-size: 1.5em;
    margin-bottom: 0;
}
.ez-guidelines .ez-guidelines-h3 {
    font-size: 1.25em;
    margin-bottom: 0;
}
.ez-guidelines .ez-guidelines-h4 {
    font-size: 1.125em;
    margin-bottom: 0;
}
.ez-guidelines .ez-guidelines-h5 {
    font-size: 1.0625em;
    margin-bottom: 0;
}
.ez-guidelines .type-box {
    width: 25%;
    margin: .5em 2em 1em 0;
    border: 1px solid #fce3da;
    border-radius: .5em;
    text-align: center;
}
.ez-guidelines .letter-sample {
    font-size: 5em;
}
.ez-guidelines .letter-sample-italic {
    font-style: italic;
}
.ez-guidelines .letter-sample-bold {
    font-weight: 700;
}
