.ez-guidelines .ez-code-example {
    margin-top: -1.25em;
}
.ez-guidelines .ez-code-example .btn {
    display: inline-flex;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
    border-radius: .25em;
    padding: 0.375em 0.75em;
    white-space: nowrap;
    transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-size: 1em;
    color: #fff;
}
.ez-guidelines .ez-code-example .btn:disabled,
.ez-guidelines .ez-code-example .btn[disabled] {
    cursor: not-allowed;
    opacity: .3;
}
.ez-guidelines .ez-code-example .btn-primary,
.ez-guidelines .ez-code-example .btn-primary:disabled {
    background-color: #f15a10;
    border-color: #f15a10;
    color: #fff;
}
.ez-guidelines .ez-code-example .btn-primary:hover {
    background-color: #cf4c0c;
    border-color: #c3480b;
}
.ez-guidelines .ez-code-example .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(241, 90, 16, 0.5);
}
.ez-guidelines .ez-code-example .btn-primary:disabled {
    cursor: not-allowed;
}
.ez-guidelines .ez-code-example .btn-dark {
    background-color: #555;
    border-color: #555;
}
.ez-guidelines .ez-code-example .btn-dark:hover {
    background-color: #424242;
    border-color: #3c3c3c;
}
.ez-guidelines .ez-code-example .btn-dark:focus {
    box-shadow: 0 0 0 0.2rem rgba(85, 85, 85, 0.5);
}
.ez-guidelines .ez-code-example .btn-secondary {
    background-color: #0f6d95;
    border-color: #0f6d95;
    color: #fff;
}
.ez-guidelines .ez-code-example .btn-secondary:hover {
    background-color: #0c5472;
    border-color: #0b4b67;
}
.ez-guidelines .ez-code-example .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(16, 109, 149, 0.5);
}
.ez-guidelines .ez-code-example .btn-danger {
    background-color: #d92d42;
    border-color: #d92d42;
    color: #fff;
}
.ez-guidelines .ez-code-example .btn-danger:hover {
    background-color: #bd2235;
    border-color: #b32032;
}
.ez-guidelines .ez-code-example .btn-danger:focus {
    box-shadow: 0 0 0 0.2rem rgba(217, 45, 66, 0.5);
}
.ez-guidelines .ez-code-example .btn-outline-secondary {
    background-color: transparent;
    border-color: 1px solid #0f6d95;
    color: #0f6d95;
}
.ez-guidelines .ez-code-example .btn-outline-secondary:hover {
    background-color: #0c5472;
    border-color: #0c5472;
}
.ez-guidelines .ez-code-example .btn-outline-secondary:focus {
    background: #0f6d95;
    color: #fff;
}

.ez-guidelines-buttons__two-buttons {
    display: block;
    position: relative;
}

.ez-guidelines-buttons__two-buttons .btn:first-of-type {
    margin-right: .625em;
}

.ez-guidelines-buttons__two-buttons .btn:last-of-type {
    margin-left: .625em;
}    

.ez-guidelines .ez-code-example .btn.ez-btn--wide {
    padding: .5rem 3rem;
    font-size: 13px;
}

.ez-guidelines .ez-guidelines-buttons__button-icon .ez-code-example .btn {
    font-weight: 700;
}

.ez-guidelines-buttons__button-icon .ez-icon {
    margin-right: .5em;
    fill: #fff;
}

.ez-guidelines .ez-code-example .btn-block {
    width: 5em;
    border-radius: 0;
    font-size: 0.6875em;
    color: #fff;
    line-height: 1.4;
}

.ez-guidelines-buttons__side-menu .ez-code-example .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0.3125em;
    color: #fff;
}

.ez-guidelines-buttons__side-menu .ez-code-example .ez-icon {
    width: 1.75em;
    height: 1.75em;
    margin-bottom: .1875em;
    fill: #fff;
}

.ez-guidelines-buttons__side-menu.btn-block--white .ez-code-example {
    color: white;
}

.ez-guidelines-buttons__table-header .ez-code-example .btn {
    line-height: .85;
    padding: .5em .55em;
}

.ez-guidelines-buttons__table-header .ez-code-example .ez-icon {
    width: 1.5em;
    height: 1.5em;
    fill: #fff;
}

.ez-guidelines-buttons__table-row .ez-code-example .btn-icon {
    padding: 0;
}

.ez-guidelines-buttons__table-row .ez-code-example .ez-icon {
    fill: #f15a10;
    width: 1.5em;
    height: 1.5em;
}
