.bootstrap-iso .ez-tooltip.show {
    opacity: 1;
}
.bootstrap-iso .ez-tooltip.bs-tooltip-top .ez-tooltip__arrow {
    position: absolute;
    display: block;
    width: 12px;
    height: 6px;
}
.bootstrap-iso .ez-tooltip.bs-tooltip-top .ez-tooltip__arrow::before {
    border-top-color: #fff;
}
.bootstrap-iso .ez-tooltip.bs-tooltip-right .ez-tooltip__arrow {
    width: 6px;
}
.bootstrap-iso .ez-tooltip.bs-tooltip-right .ez-tooltip__arrow::before {
    border-right-color: #fff;
}
.bootstrap-iso .ez-tooltip.bs-tooltip-bottom .ez-tooltip__arrow {
    height: 6px;
}
.bootstrap-iso .ez-tooltip.bs-tooltip-bottom .ez-tooltip__arrow::before {
    border-bottom-color: #fff;
}
.bootstrap-iso .ez-tooltip.bs-tooltip-left .ez-tooltip__arrow {
    width: 6px;
}
.bootstrap-iso .ez-tooltip.bs-tooltip-left .ez-tooltip__arrow::before {
    border-left-color: #fff;
}
.bootstrap-iso .ez-tooltip .ez-tooltip__inner {
    padding: 4px 10px;
    max-width: 250px;
    border: 1px solid #e5e3e3;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 11px;
    font-weight: 700;
    text-align: left;
    line-height: 14px;
    box-shadow: 0 4px 6px rgba(135, 135, 135, 0.35);
}
.bootstrap-iso .ez-tooltip--medium .ez-tooltip__inner {
    padding: 8px 16px;
    font-size: 13px;
    line-height: 15px;
}
.ez-guidelines .ez-guidelines-tooltips-sample .btn:first-of-type {
    margin-top: 0;
}
.ez-guidelines .ez-guidelines-tooltips-sample .btn:not(:first-of-type) {
    margin-top: 2em;
}
.ez-guidelines .ez-guidelines-tooltips-sample .btn-primary {
    font-weight: 700;
    padding: 0.375em 1.25em;
}
.ez-guidelines .ez-guidelines-tooltips-sample .btn-primary .ez-icon {
    margin-right: 0.25em;
}
.ez-guidelines .ez-guidelines-tooltips-sample .btn-secondary,
.ez-guidelines .ez-guidelines-tooltips-sample .btn-dark {
    margin: 0.375em;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ez-guidelines .ez-guidelines-tooltips-sample .btn-secondary .ez-icon,
.ez-guidelines .ez-guidelines-tooltips-sample .btn-dark .ez-icon {
    width: 24px;
    height: 24px;
    fill: #fff;
}
