.ez-guidelines .ez-guidelines-pagination .ez-code-example {
    background-color: #f5f5f5;
}
.ez-guidelines .ez-guidelines-pagination .ez-code-example .ez-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    font-size: 1em;
}
.ez-guidelines .ez-guidelines-pagination .ez-code-example .ez-pagination__text {
    font-size: 0.75em;
}
.ez-guidelines .ez-guidelines-pagination .ez-code-example .pagination .page-item {
    margin-left: 0;
    margin-bottom: 0;
}
.ez-guidelines .ez-guidelines-pagination .ez-code-example .pagination .page-item.prev {
    margin-left: -0.5em;
    margin-right: 0.5em;
}
.ez-guidelines .ez-guidelines-pagination .ez-code-example .pagination .page-item.active {
    border-radius: 50%;
    border: transparent;
    background-color: #ffffff;
    font-weight: 700;
}
.ez-guidelines .ez-guidelines-pagination .ez-code-example .ez-pagination .page-item .page-link {
    margin-left: 0.5em;
    border-radius: 50%;
    border: transparent;
    background-color: transparent;
    color: #333;
    line-height: 1.25;
}
.ez-guidelines .ez-guidelines-pagination .ez-code-example .page-item.prev .page-link,
.ez-guidelines .ez-guidelines-pagination .ez-code-example .page-item.next .page-link {
    border: #106d95;
    border-radius: 0.3em;
    padding: 0.5em 0.75em;
    background-color: #106d95;
    color: #fff;
    line-height: 1.25;
}
.ez-guidelines .ez-guidelines-pagination .ez-code-example .pagination .page-item.active .page-link {
    margin: 0.25em;
    padding: 0.25em 0.5em;
}
.ez-guidelines .ez-guidelines-pagination .ez-code-example .pagination .page-item.next {
    margin-bottom: auto;
}
.ez-guidelines .ez-guidelines-pagination .ez-code-example .pagination .page-item.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
