.ez-guidelines .ez-code-example .ez-icon {
    width: 2em;
    height: 2em;
}
.ez-guidelines .ez-icon.ez-icon--small {
    width: 1em;
    height: 1em;
}
.ez-guidelines .ez-icon.ez-icon--small-medium {
    width: 1.25em;
    height: 1.25em;
}
.ez-guidelines .ez-icon.ez-icon--medium {
    width: 1.5em;
    height: 1.5em;
}
.ez-guidelines .ez-icon.ez-icon--large {
    width: 3em;
    height: 3em;
}
.ez-guidelines .ez-icon.ez-icon--extra-large {
    width: 4em;
    height: 4em;
}
.ez-guidelines .ez-icon.ez-icon--dark {
    fill: #333;
}
.ez-guidelines .ez-icon.ez-icon--light {
    fill: #fff;
}
.ez-guidelines .ez-icon.ez-icon--secondary {
    fill: #106d95;
}
.ez-guidelines-icons__colored .ez-code-example .ez-icon {
    margin-right: .25em;
}

.ez-guidelines .icon-box {
    margin: .5em .5em 0 0;
    height: 7em;
    width: 8em;
    background-color: #ededed;
    border-radius: 4px;
    text-align: center;
}
.ez-guidelines .icon-box .ez-icon {
    display: inline-block;
    margin-top: 1em;
    width: 2.5em;
    height: 2.5em;
    fill: #333;
}
.ez-guidelines .icon-box .icon-label {
    margin-top: .75em;
    padding: 0 .5em;
    font-size: .75em;
    line-height: 14px;
    color: #333;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
