.ez-guidelines .ez-code-example {
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ez-guidelines .header-line {
    display: block;
    border-bottom: 1px solid #63605d;
}
.ez-guidelines .wrapper-samples {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
}
.ez-guidelines .header-h1 {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.2;
    color: #f15a10;
}
.ez-guidelines-sample {
    position: relative;
    border: 1px solid #00825c;
    border-radius: 4px;
    padding: 2em 1em;
}

.ez-guidelines-sample-negative {
    border-color: #d92d42;
}
.ez-guidelines-sample--images {
    padding: 1.5em 1em 3em;
}
.ez-guidelines-sample__correct-block {
    position: absolute;
    bottom: 0;
    margin-left: -1.125em;
    width: 100%;
    padding: 0.25em 0;
    border-radius: 0 0 4px 4px;
    background-color: #00825c;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.ez-guidelines-sample__correct-block-negative {
    background-color: #d92d42;
}
.ez-guidelines-sample__correct-block .ez-icon {
    margin-top: 1em;
}
.ez-guidelines.md-typeset .ez-code-example + .codehilitetable {
    margin: 0.25em 0 1em 0;
}