.front-page h1 {
    font-size: 32px;
    font-weight: 600;
    padding-left: 0.7rem;
    margin-bottom: 0.75rem;
}

.front-page a {
    color: var(--link);
}

.front-page a:hover,
.front-page a:focus {
    color: var(--ibexa-jazzberry);
    text-decoration: none;
}

.tile {
    box-sizing: border-box;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 0.5rem 1.5rem 1rem 1rem;
    height: 100%;
}

h5.tile-title {
    color: #131C26;
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    padding-left: 1rem;
}

.tile-icon {
    margin-right: 0.6rem;
}

.tile-body {
    margin-left: 2.6rem;
}

.tile-body ul {
    padding-left: 0;
}

.md-typeset .tile-body ul li {
    list-style-type: none;
    background: url(../images/page.svg) no-repeat left top;
    background-size: 15px 18px;
    padding-left: 1rem;
    margin-left: 0.25rem;
}

.md-typeset .tile-body ol, .md-typeset .tile-body ul {
    margin-left: 0;
}

.most-popular h5 {
    background-color: rgba(216,216,216,0.27);
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    padding: 8px 14px;
    margin-bottom: 1rem;
}

.md-typeset .most-popular ul {
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0px;
}

.md-typeset .most-popular ul li {
    border-bottom: 1px solid #D8D8D8;
    margin-left: 0px;
    padding-left: 0.5rem;
}

.latest-release h5 {
    border-bottom: 3px solid #D8D8D8;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 15px;
}

.latest-release {
    line-height: 32px;
}

.features {
    column-count: 2;
}

.features ul li {
    margin-bottom: 0;
}

.announcement {
    margin-bottom: 1rem;
    padding: .75rem 1.25rem;
    background-color: #FFFFFF;
    border: 1px solid var(--ibexa-jazzberry);
    border-radius: 5px;
    font-size: 18px;
    color: var(--ibexa-jazzberry);
}

.announcement a.external:after {
    content: none;
}

.announcement .btn {
    font-size: 0.8rem;
    padding: .4rem .8rem;
}

.announcement .tile-icon {
    flex-shrink: 0;
}

.announcement .btn-announcement {
    background: var(--ibexa-jazzberry);
    border: 1px solid var(--ibexa-jazzberry);
    color: #FFFFFF;
}

.announcement .btn-announcement-outline {
    background: #FFFFFF;
    border: 1px solid var(--ibexa-jazzberry);
    color: var(--ibexa-jazzberry);
}

.announcement .btn-announcement-outline:hover,
.announcement .btn-announcement-outline:focus {
    background: var(--ibexa-jazzberry);
    color: #FFFFFF;
}

.announcement .btn-announcement:hover,
.announcement .btn-announcement:focus {
    background: #FFFFFF;
}
