[dir=ltr] .front-page h1 {
    font-size: 32px;
    font-weight: 600;
    padding-left: 0.7rem;
    margin-bottom: 0.75rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;

}

.front-page a {
    color: black;
    text-align: center;
    font-size: 16px;
}

.front-page a:hover,
.front-page a:focus {
    color: #af1164;
    text-decoration:underline;
}

.tile {
    box-sizing: border-box;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 0.5rem 1.5rem 1rem 1rem;
    height: 100%;
}

h5.tile-title {
    color: #131C26;
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    padding-left: 1rem;
}

.tile-icon {
    margin-right: 0px;
    margin-top: 20px;
}

.tile-body {
    margin-left: 0rem;
}

.tile-body ul {
    padding-left: 0;
}

.md-typeset .tile-body ul li {
    list-style-type: none;
    background: url(../images/page.svg) no-repeat left top;
    background-size: 15px 18px;
    padding-left: 0rem;
    margin-left: 0rem;
}

.md-typeset .tile-body ol, .md-typeset .tile-body ul {
    margin-left: 0;
}

.most-popular h5 {
    background-color: rgba(216,216,216,0.27);
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    padding: 8px 14px;
    margin-bottom: 1rem;
}

.md-typeset .most-popular ul {
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0px;
}

.md-typeset .most-popular ul li {
    border-bottom: 1px solid #D8D8D8;
    margin-left: 0px;
    padding-left: 0.5rem;
}

.latest-release h5 {
    border-bottom: 3px solid #D8D8D8;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 15px;
}

.latest-release {
    line-height: 32px;
}

.features {
    column-count: 2;
}

.features ul li {
    margin-bottom: 0;
}

.announcement {
    margin-bottom: 0px;
    padding: 6px;
    background-color: #FFFFFF;
    font-size: 15px;
    color: var(--ibexa-jazzberry);
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}
.announcement:hover {
    box-shadow: 0px 2px 10px #af1164;
    opacity: 0.5;
    font-weight: bold;
}

.announcement:hover,
.announcement:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

.announcement a.external:after {
    content: none;
}

.announcement .btn {
    font-size: 15px;
    padding: 6px;
}

.announcement .tile-icon {
    flex-shrink: 0;
}

.announcement .btn-announcement {
    background: var(--ibexa-jazzberry);
    border: 1px solid var(--ibexa-jazzberry);
    color: #FFFFFF;
}

.announcement .btn-announcement-outline {
    background: #af1164;
    border: 1px solid var(--white);
    color: var(--white);
}

.announcement .btn-announcement-outline:hover {
    opacity: 50%;
}

.announcement .btn-announcement:hover {
    opacity: 50%;
}

.info-tile {
    height: 230px;
    width: 24%;
    margin: 0.5%;
    max-height: 230px;
    padding-right: 1vw;
    background: #af1164;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    font-family: "Noto Sans";
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;

  }

  .info-tile-up {
    height: 120px;
    max-height: 120px;
    background: white;
    display: inline-block;
    text-overflow: ellipsis;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    word-wrap: break-word;
    font-family: "Noto Sans";
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #af1164;
    width: 100%;
    padding: 5px;

  }

  .info-tile:hover {
    opacity:0.5;
  }

  .info-tile-up:hover {
    opacity:0.5;
  }
  
  .info-tile-img {
    position: absolute;
    left: 2%;
    top: 15%;
    opacity: .4;
    height: 10vw;
    font-size:10vw;
  }

  [dir=ltr] .info-tile-body ul {
    margin-left: 0;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

[dir=ltr] .info-tile-body ul li {
    list-style-type: none;
    background-size: 15px 18px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
}

.info-tile-title {
    color: #ffffff;
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    padding-left: 0;
    text-align: center;
}

h5.info-tile-title {
    color: #ffffff;
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    padding-left: 0;
    text-align: center;
}

.info-tile-icon {
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

a.instruction-tile {
    display: inline-flex;
    align-items: center;
    height: 150px;
    width: 24%;
    margin: 0.5%;
    max-height: 90px;
    border-radius: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    background: #af1164;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    font-family: "Noto Sans";
    color: white;
    font-weight: bold;
    position: relative;
    margin-bottom: 8px;
    text-align: center;
    margin-top: 8px;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.instruction-tile-title {
    color: #ffffff;
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    padding-left: 0;
    text-align: center;

}

a.instruction-tile:hover {
  opacity:0.5;
  color: white;
}

.instruction-tile-icon {
    margin-right: 0.6rem;
    margin-top: 0px;
}

.instruction-tile-title {
    color: #ffffff;
    font-family: "Noto Sans";
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    padding-left: 0;
    text-align: center;
}

.instruction-tile-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 100%;
    color: #af1164;
    margin-bottom: 10px;
}

.instruction-tile-icon {
    margin-right: 0.6rem;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: inline;
    border-radius: 100%;
}
  /* nowy-styl-test */

html {
    height: 100%;
  }
  body {
    margin: 0;
    background: linear-gradient(231deg, #ffffff 0%, #f0f0f0 99%);
    padding-top: 100px;
    font-family: "Noto Sans";
  }
  .accordion {
    margin: 0;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    font-size: 14px;
  }
  .accordion .title {
    padding-left: 15px;
  }
  .accordion .title h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0;
  }
  .accordion .title h2 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    padding: 0;
    font-weight: 500;
  }
  .accordion details summary {
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    user-select: none;
  }
  .accordion details summary i {
    font-size: 32px;
    vertical-align: middle;
    margin-right: 15px;
  }
  .accordion details summary i.purple {
    color: #af1164;
  }
  .accordion details summary i.orange {
    color: #af1164;
  }
  .accordion details summary i.red {
    color: #af1164;
  }
  .accordion details summary i.green {
    color: #af1164;
  }
  .accordion details[open] summary,
  .accordion details summary:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .accordion details[open] summary{
    font-weight: bold;
  }
  .accordion details summary:after {
    content: "+";
    position: absolute;
    display: block;
    line-height: 50px;
    top: 0px;
    right: 20px;
  }
  .accordion details[open] summary:after {
    content: "-";
  }
  .accordion details ::marker {
    font-size: 0;
  }
  .accordion details ul {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
  .accordion details ul li {
    cursor: pointer;
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  .accordion details ul li:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: #af1164;
    text-decoration:underline;
  }
  
  .md-typeset :is(.admonition,details) {
    background-color: var(--md-admonition-bg-color);
    border: 0 solid #af1164;
    border-radius: 0.1rem;
    box-shadow: var(--md-shadow-z1);
    color: var(--md-admonition-fg-color);
    display: flow-root;
    font-size: .64rem;
    margin: 1.5625em 0;
    padding: 0 0.6rem;
    page-break-inside: avoid;
}

.md-typeset :is(.admonition-title,summary):before {
    background-color: #af1164;
    height: 1rem;
    mask-image: url(ez-icons.svg#user);
    mask-repeat: no-repeat;
    mask-size: contain;
    position: absolute;
    top: 0.625em;
    width: 1rem;
}