.pill {
  font-size: 12px;
  font-weight: initial;
  line-height: 18px;
  padding: 1px 8px;
  border: 1px solid;
  margin-right: 8px;
  color: #4e24a5;
}
.pill--headless {
  color: #ba2124;
  border-color: #ba2124;
}
.pill--headless::after {
  content: "Headless";
}
.pill--experience {
  color: #a85000;
  border-color: #a85000;
}
.pill--experience::after {
  content: "Experience";
}
.pill--commerce {
  color: #4e24a5;
  border-color: #4e24a5;
}
.pill--commerce::after {
  content: "Commerce";
}
.pill--lts-update {
  color: #19628f;
  border-color: #19628f;
}
.pill--lts-update::after {
  content: "LTS Update";
}
.pill--new-feature {
  color: #146d00;
  border-color: #146d00;
}
.pill--new-feature::after {
  content: "New feature";
}
.pill--first-release {
  color: #146d00;
  border-color: #146d00;
}
.pill--first-release::after {
  content: "First release";
}
.pill--inline:first-of-type {
  margin-left: 8px;
}
.pill--new {
  margin-right: 15px;
  align-self: center;
  color: #19628f;
  text-transform: lowercase;
}

div.pills {
  float: right;
}
