{
    "AttributeUpdate": {
        "identifier": "attr_group",
        "names": {
            "eng-GB": "Attribute Group"
        },
        "descriptions": {
            "eng-GB": "description"
        },
        "position": 0,
        "options": {
            "foo": "bar"
        }
    }
}
