<?xml version="1.0" encoding="UTF-8"?>
<Shipment media-type="application/vnd.ibexa.api.Shipment+xml" href="/api/ibexa/v2/shipments/ae741491-e80c-49f2-8a44-5163b4afa144">
    <id>1</id>
    <identifier>ae741491-e80c-49f2-8a44-5163b4afa144</identifier>
    <status>pending</status>
    <transitions>
        <transition>prepare</transition>
        <transition>cancel</transition>
    </transitions>
    <Order media-type="application/vnd.ibexa.api.Order+xml" href="/api/ibexa/v2/orders/order/33f6db52-478f-41f1-afbe-6d38f6a4704f"/>
    <Amount>
        <value>2257</value>
        <currency>EUR</currency>
    </Amount>
    <createdAt>2023-06-26T15:40:28+02:00</createdAt>
    <updatedAt>2023-06-26T15:40:28+02:00</updatedAt>
    <Owner media-type="application/vnd.ibexa.api.User+xml" href="/api/ibexa/v2/user/users/14"/>
    <Method media-type="application/vnd.ibexa.api.ShippingMethod+xml" href="/api/ibexa/v2/shipping/methods/inpost_parcel_locker_delivery"/>
</Shipment>