{% set constants = constants(node)|sortByVisibility %}

{% if constants is not empty %}
    <h2 id="constants">
        Constants
        {%- include 'components/anchor.html.twig' with { anchor: 'constants' } -%}
    </h2>
    {% for constant in constants %}
        {% include 'components/constant.html.twig' %}
    {% endfor %}
{% endif %}