<div class="md-header__switcher push">
      <div class="md-flex__ellipsis md-header__title switcher docs-switcher" data-md-component="title">
    <div class="switcher__selected-item" tab-index="-1">
        <div class="switcher__label" title="Developer Documentation">Developer Documentation</div>
    </div>
    <div class="switcher__list">
        <dl>
            
                
                    <strong>
                
                <dd>
                    <a href="/" title="Developer Documentation">Developer Documentation</a>
                </dd>
                
                    </strong>
                
            
                
                <dd>
                    <a href="/projects/userguide" title="User Documentation">User Documentation</a>
                </dd>
                
            
                
                <dd>
                    <a href="/projects/connect" title="Connect Documentation">Connect Documentation</a>
                </dd>
                
            
        </dl>
    </div>
</div>
    </div>