{# https://github.com/phpDocumentor/phpDocumentor/blob/v3.3.1/data/templates/default/components/element-found-in.html.twig #}
<aside class="phpdocumentor-element-found-in">
  <abbr class="phpdocumentor-element-found-in__file" title="{{ node.file.path }} (click to copy)" onclick="navigator.clipboard.writeText('{{ node.file.path }}');">{{ node.file.name }}</abbr>
  :
  <span class="phpdocumentor-element-found-in__line">{{ node.line }}</span>
</aside>
