{% set site_url = path('/') %}
{% set logo_path = './images/ibexa-dxp-logo.png' %}

<a href="{{ site_url }}" title="{{ project.name|e  }}" class="md-header__button md-logo" aria-label="{{ project.name|e  }}">
    <img src="{{ logo_path }}">
</a>