{% set logo_path = './images/ibexa-dxp-logo.png' %}

<a href="../php_api/"
   title="{{ project.name|e }}"
   aria-label="{{ project.name|e }}"
   class="md-header__button md-logo"
>
    <img src="{{ logo_path }}">
</a>
