{% set logo_path = './images/ibexa-dxp-logo.png' %}

<a href="#"
   title="{{ project.name|e }}"
   aria-label="{{ project.name|e }}"
   class="md-header__button md-logo"
   onclick="document.location.href=document.location.href.replace(/\/php_api\/php_api_reference\/.*/, '/php_api/php_api/'); return false;"
>
    <img src="{{ logo_path }}">
</a>
