<header class="md-header" data-md-component="header">
    <nav class="md-header__inner md-grid" aria-label="">
        {% include 'components/header-title.html.twig' %}
        {% include 'components/doc-switcher.html.twig' %}
        {% include 'components/version-switcher.html.twig' %}
        {% include 'components/source.html.twig' %}
    </nav>
</header>
