{% set breadcrumbs = usesNamespaces ? breadcrumbs(node) : packages(node) %}
{% set fqcn = breadcrumbs|map(breadcrumb => breadcrumb.name)|join('\\') %}

{% embed 'components/content-header.html.twig' with { 
    anchor: node.name,
    anchor_link: '#' ~ node.name,
    fqcn,
    add_edition: true,
} %}
    {% block subheader %}
        {% if node.parent is not empty %}
            <div class="content-header__subheader">
                Extends
                {% for interface in node.parent %}
                    {{ interface|route('class:short') }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}
