{% embed 'components/content-header.html.twig' with { anchor: node.name, anchor: node.name } %}
    {% block subheader %}
        {% if node.parent is not empty %}
            <div class="content-header__extends">
                extends
                {% for interface in node.parent %}
                    {{ interface|route('class:short') }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}