{% set properties = properties(node)|sortByVisibility %}

{% if properties is not empty %}
        <h2 id="properties">
            Properties
            {%- include 'components/anchor.html.twig' with { anchor_link: '#properties' } -%}
        </h2>

        {% for property in properties %}
            {% include 'components/property.html.twig' %}
        {% endfor %}
    </section>
{% endif %}
