{% set properties = properties(node)|sortByVisibility %}
{% set explorable_properties = properties(node)|sortByVisibility %}
{% set treated_properties = [] %}

{% if properties is not empty %}
        <h2 id="properties">
            Properties
            {%- include 'components/anchor.html.twig' with { anchor_link: link(node) ~ '#properties' } -%}
        </h2>

        {% for property in properties %}
            {% if property.__toString() not in treated_properties %}
                {% for explored_property in explorable_properties %}
                    {% if explored_property.__toString() == property.__toString() %}
                        {% include 'components/property.html.twig' with {'property': explored_property} %}
                    {% endif %}
                {% endfor %}
                {% set treated_properties = treated_properties|merge([property.__toString()]) %}
            {% endif %}
        {% endfor %}
    </section>
{% endif %}
