<div class="md-search" data-md-component="search" role="dialog">
    <label class="md-search__overlay" for="__search"></label>
    <div class="md-search__inner phpdocumentor-search" role="search" data-search-form>
        <form class="md-search__form" name="search" >
            <span class="algolia-autocomplete algolia-autocomplete-left">
                <input
                    type="search"
                    id="search_input"
                    class="md-search__input phpdocumentor-field phpdocumentor-search__field"
                    name="query"
                    aria-label="Search"
                    placeholder="Search"
                    autocapitalize="off"
                    autocorrect="off"
                    autocomplete="off"
                    spellcheck="false"
                    data-md-component="search-query"
                    data-md-state="active"
                    required
                >
                <label class="md-search__icon md-icon" for="__search">
                    <img src="images/search.svg" alt="search">
                </label>
                {% include 'components/search-results.html.twig' %}
            </span>
        </form>
    </div>
</div>
