{# https://github.com/phpDocumentor/phpDocumentor/blob/v3.3.1/data/templates/default/components/sidebar.html.twig #}
<input class="phpdocumentor-sidebar__menu-button" type="checkbox" id="sidebar-button" name="sidebar-button" />
<label class="phpdocumentor-sidebar__menu-icon" for="sidebar-button">
    Menu
</label>
<aside class="phpdocumentor-column -four phpdocumentor-sidebar">
    <section class="phpdocumentor-sidebar__category">
        <h2 class="phpdocumentor-sidebar__category-header">Namespaces</h2>
        {% for namespace in project.namespace.children %}
            {% include 'components/menu.html.twig' with {'entry': namespace, 'depth': 1} %}
        {% endfor %}
    </section>
</aside>
