<div class="highlight">
    <table class="highlighttable">
        <tbody>
            <tr>
                <td class="linenos">
                    <div class="linenodiv">
                        <pre><span></span></pre>
                    </div>
                </td>
                <td class="code">
                    <div>
                        <pre><code>{{ code }}</code></pre>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
