<div class="md-header__switcher">
      <div class="md-flex__ellipsis md-header__title switcher version-switcher" data-md-component="title">
    <div class="rst-versions switcher__selected-item" data-toggle="rst-versions" role="note" aria-label="versions">
        <div class="rst-current-version switcher__label" data-toggle="rst-current-version">latest</div>
    </div>
    <div class="rst-other-versions switcher__list"><dl>
        <dt>Versions</dt>
        
        <dd>
          <a href="https://doc.ibexa.co/en/master/">master</a>
        </dd>
        
        <dd class="rtd-current-item">
          <a href="https://doc.ibexa.co/en/latest/">latest</a>
        </dd>
        
        <dd>
          <a href="https://doc.ibexa.co/en/4.6/">4.6</a>
        </dd>
        
        <dd>
          <a href="https://doc.ibexa.co/en/4.5/">4.5</a>
        </dd>
        
        <dd>
          <a href="https://doc.ibexa.co/en/3.3/">3.3</a>
        </dd>
        
        <dd>
          <a href="https://doc.ibexa.co/en/2.5/">2.5</a>
        </dd>
        
      </dl></div>
</div>
    </div>