<div class="md-header__switcher">
    <div class="md-flex__ellipsis md-header__title switcher version-switcher" data-md-component="title">
        <div class="rst-other-versions switcher__list"></div>
    </div>
</div>