{
    "Product": {
        "_media-type": "application/vnd.ibexa.api.Product+json",
        "code": "DRESUN",
        "name": "Yellow sundress",
        "ProductType": {
            "_media-type": "application/vnd.ibexa.api.ProductType+json",
            "identifier": "dress",
            "name": "Dress",
            "AttributeAssignmentList": [
                {
                    "_media-type": "application/vnd.ibexa.api.AttributeAssignment+json",
                    "is_required": false,
                    "is_discriminator": false,
                    "Attribute": {
                        "_media-type": "application/vnd.ibexa.api.Attribute+json",
                        "identifier": "size",
                        "name": "Size",
                        "description": "",
                        "type": "Integer",
                        "group": "Hat",
                        "position": 0,
                        "options": ""
                    }
                }
            ]
        },
        "Thumbnail": {
            "_media-type": "application/vnd.ibexa.api.Thumbnail+json",
            "resource": "/bundles/ibexaadminui/img/ibexa-icons.svg#file",
            "width": null,
            "height": null,
            "mimeType": "image/svg+xml"
        },
        "created_at": 1647006758,
        "updated_at": 1647006758,
        "AttributesList": [
            {
                "_media-type": "application/vnd.ibexa.api.Attribute+json",
                "identifier": "size",
                "name": "Size",
                "description": "",
                "type": "Integer",
                "group": "Clothes",
                "position": 0,
                "options": ""
            }
        ]
    }
}
