<div class="md-flex__ellipsis md-header__title switcher version-switcher" data-md-component="title">
    <div class="rst-versions switcher__selected-item" data-toggle="rst-versions" role="note" aria-label="versions">
        <div class="rst-current-version switcher__label" data-toggle="rst-current-version">
            {% if current_version %}
                v{{ current_version }}
            {% else %}
                master
            {% endif %}
        </div>
    </div>
    <div class="rst-other-versions switcher__list">
    </div>
</div>
