{
    "DiscountCode": {
        "_media-type": "application\/vnd.ibexa.api.DiscountCode+json",
        "id": 1,
        "code": "summer10",
        "created_at": {
            "date": "2025-06-10 14:14:06.000000",
            "timezone_type": 3,
            "timezone": "UTC"
        }
    }
}
