{
    "ProductList": {
        "_media-type": "application/vnd.ibexa.api.ProductList+json",
        "Product": [
            {
                "_media-type": "application/vnd.ibexa.api.Product+json",
                "code": "wsk_98845",
                "name": "HUMMINGBIRD PRO DRY 9,2MM",
                "ProductType": {
                    "_media-type": "application/vnd.ibexa.api.ProductType+json",
                    "identifier": "d_rope",
                    "name": "Dynamic ropes",
                    "AttributeAssignmentList": []
                },
                "Thumbnail": {
                    "_media-type": "application/vnd.ibexa.api.Thumbnail+json",
                    "resource": "/bundles/ibexaadminui/img/ibexa-icons.svg#file",
                    "width": null,
                    "height": null,
                    "mimeType": "image/svg+xml"
                },
                "created_at": 1645787815,
                "updated_at": 1645787815,
                "AttributesList": []
            },
            {
                "_media-type": "application/vnd.ibexa.api.Product+json",
                "code": "wsst_34456",
                "name": "Simond XC 60m",
                "ProductType": {
                    "_media-type": "application/vnd.ibexa.api.ProductType+json",
                    "identifier": "s_rope",
                    "name": "Static ropes",
                    "AttributeAssignmentList": []
                },
                "Thumbnail": {
                    "_media-type": "application/vnd.ibexa.api.Thumbnail+json",
                    "resource": "/bundles/ibexaadminui/img/ibexa-icons.svg#file",
                    "width": null,
                    "height": null,
                    "mimeType": "image/svg+xml"
                },
                "created_at": 1645787893,
                "updated_at": 1645787893,
                "AttributesList": []
            }
        ]
    }
}