{
  "CountrySelectionResponse": {
    "_media-type": "application\/vnd.ez.api.CountrySelectionResponse+json",
    "countryOptions": {
      "DZ": "Algeria",
      "AU": "Australia",
      "AT": "Austria",
      "BE": "Belgium",
      "BR": "Brazil",
      "BG": "Bulgaria",
      "CA": "Canada",
      "CY": "Cyprus",
      "CZ": "Czechia",
      "DK": "Denmark",
      "EE": "Estonia",
      "SZ": "Eswatini",
      "FI": "Finland",
      "FR": "France",
      "DE": "Germany",
      "GR": "Greece",
      "HU": "Hungary",
      "IS": "Iceland",
      "IN": "India",
      "ID": "Indonesia",
      "IE": "Ireland",
      "IT": "Italy",
      "KE": "Kenya",
      "LV": "Latvia",
      "LT": "Lithuania",
      "MO": "Macao SAR China",
      "MY": "Malaysia",
      "MT": "Malta",
      "MX": "Mexico",
      "MZ": "Mozambique",
      "NL": "Netherlands",
      "NZ": "New Zealand",
      "NG": "Nigeria",
      "NO": "Norway",
      "PH": "Philippines",
      "PL": "Poland",
      "PT": "Portugal",
      "RO": "Romania",
      "RU": "Russia",
      "SG": "Singapore",
      "SK": "Slovakia",
      "SI": "Slovenia",
      "ZA": "South Africa",
      "ES": "Spain",
      "SE": "Sweden",
      "CH": "Switzerland",
      "TZ": "Tanzania",
      "TH": "Thailand",
      "TN": "Tunisia",
      "TR": "Turkey",
      "UG": "Uganda",
      "AE": "United Arab Emirates",
      "GB": "United Kingdom",
      "US": "United States"
    },
    "defaultCountry": "DE",
    "countryCodeStates": []
  }
}
