{% extends "main.html" %}

{% block content %}
<div class="page-not-found">
    <img src="/images/404.png" alt="Not found" />
    <h1>Page not found.</h1>
    <h2>You probably weren't expecting to land here.</h2>
    <h3>Here are some useful links instead:</h3>
    <ul>
        <li><a href="getting_started/install_ez_platform/">Installation</a></li>
        <li><a href="tutorials/platform_beginner/building_a_bicycle_route_tracker_in_ez_platform/">Tutorials</a></li>
        <li><a href="guide/content_rendering/">Guide to Ibexa DXP</a></li>
    </ul>
</div>
{% endblock %}
