{% extends "main.html" %}

{% block extrahead %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css"/>
  <style>
  </style>
{% endblock %}

{% block content %}
  {% raw %}
    <div class="ais-InstantSearch">
      <ul class="breadcrumbs">
        <li class="breadcrumb-item">Documentation &gt;</li>
        <li class="breadcrumb-item breadcrumb-item-current">Search results</li>
      </ul>
      <div id="stats"></div>
      <div id="searchbox"></div>
      <div id="hits"></div>
      <div id="pagination"></div>
      <div id="pagination-stats"></div>
      <div id="version"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch-lite.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4"></script>

  {% endraw %}
{% endblock %}
