{% extends "base.html" %}
  {% block htmltitle %}
    {%- if page and page.meta and page.meta.title -%} 
      <title>{{ page.meta.title }} ({{ config.extra.site_display_name }})</title>
    {%- elif page and page.title and not page.is_homepage -%} 
      <title>{{ page.title }} ({{ config.extra.site_display_name }})</title>
    {%- else -%} 
      <title>{{ config.extra.site_display_name }}</title>
    {%- endif -%} 
  {% endblock %}

  {% block extrahead %}
    <meta name="google-site-verification" content="zttxcBm_blrd3kCAsNlGZqvzga_-8ovH4IxSHw2l5OQ" />
  {% endblock %}
    {% block site_nav %}
    {% if nav %}
      <div class="main_nav">
        <div class="main_nav_content">
          <div class="site-header" id="site-name">
            <a href="/">{{ config.site_name }}</a>
          </div>
          <div class="md-sidebar md-sidebar--primary" data-md-component="navigation">
            <div class="md-sidebar__scrollwrap">
              <div class="md-sidebar__inner">
                {% include "partials/nav.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if page.toc %}
      <div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
        <div class="md-sidebar__scrollwrap">
          <div class="md-sidebar__inner">
            {% include "partials/toc.html" %}
          </div>
        </div>
      </div>
    {% endif %}
    {% endblock %}


    {% block content %}
        {% set ns = namespace(bootstrap_extra_css='') %}
        {% for md_file in config.extra.append_bootstrap if 'docs' + md_file in page.edit_url %}
          {% set ns.bootstrap_extra_css = ' bootstrap-iso ez-guidelines' %}
          {% include "partials/integrations/bootstrap.html" %}
        {% endfor %}

        <div class="{{ ns.bootstrap_extra_css }}">
          <ul class="breadcrumbs">
                  <li class="breadcrumb-item">Documentation &#62;</li>
              {% for ancestor in page.ancestors|reverse %}
                  <li class="breadcrumb-item">{{ ancestor.title }} &#62;</li>
              {% endfor %}
                  <li class="breadcrumb-item breadcrumb-item-current">{{ page.title }}</li>
          </ul>
          {% if page.meta.edition %}
            <div class="pills">
            {% if page.meta.edition == 'commerce' %}
              <span class="pill commerce-pill"></span>
            {% elif page.meta.edition == 'experience' %}
              <span class="pill experience-pill"></span>
              <span class="pill commerce-pill"></span>
            {% endif %}
            </div>
          {% endif %}
          {{ page.content }}
          {% include "partials/tags.html" %}
        </div>
    {% endblock %}
