{% extends "base.html" %}
  {% block htmltitle %}
    {%- if page and page.meta and page.meta.title -%} 
      <title>{{ page.meta.title }} ({{ config.extra.site_display_name }})</title>
    {%- elif page and page.title and not page.is_homepage -%} 
      <title>{{ page.title }} ({{ config.extra.site_display_name }})</title>
    {%- else -%} 
      <title>{{ config.extra.site_display_name }}</title>
    {%- endif -%} 
  {% endblock %}


    <!-- Analytics -->
    {% block analytics %}
      {% include "partials/integrations/analytics.html" %}
    {% endblock %}

  {% block extrahead %}
    <meta name="google-site-verification" content="AN8DVQKzis4rL9Fr3J9g3dOzY7h2jFyhqfC6ySmcgSc" />
    <script>window.eol_versions = {{ config.extra.eol_versions|tojson }};</script>
    <!-- Google Tag Manager --> <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-KKQR5LG');</script> <!-- End Google Tag Manager -->
  {% endblock %}
    {% block site_nav %}
    {% if nav %}
      <div class="main_nav">
        <div class="main_nav_content">
          <div class="site-header" id="site-name">
            {% set site_url = config.site_url | default(nav.homepage.url, true) | url %}
            {% if not config.use_directory_urls and site_url[0] == site_url[-1] == "." %}
              {% set site_url = site_url ~ "/index.html" %}
            {% endif %}
            <a href="{{ site_url }}">{{ config.site_name }}</a>
          </div>
          <div class="md-sidebar md-sidebar--primary" data-md-component="navigation">
            <div class="md-sidebar__scrollwrap">
              <div class="md-sidebar__inner">
                {% include "partials/nav.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if page.toc %}
      <div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
        <div class="md-sidebar__scrollwrap">
          <div class="md-sidebar__inner">
            {% include "partials/toc.html" %}
          </div>
        </div>
      </div>
    {% endif %}
    {% endblock %}


    {% block content %}
        {% set ns = namespace(bootstrap_extra_css='') %}
        {% for md_file in config.extra.append_bootstrap if 'docs' + md_file in page.edit_url %}
          {% set ns.bootstrap_extra_css = ' bootstrap-iso ez-guidelines' %}
          {% include "partials/integrations/bootstrap.html" %}
        {% endfor %}

        <div class="{{ ns.bootstrap_extra_css }}">
          <ul class="breadcrumbs">
                  <li class="breadcrumb-item">Documentation &#62;</li>
              {% for ancestor in page.ancestors|reverse %}
                  <li class="breadcrumb-item">{{ ancestor.title }} &#62;</li>
              {% endfor %}
                  <li class="breadcrumb-item breadcrumb-item-current">{{ page.title }}</li>
          </ul>
          {% if page.meta.edition %}
            <div class="pills">
            {% if page.meta.edition == 'commerce' %}
              <span class="pill pill--commerce"></span>
            {% elif page.meta.edition == 'experience' %}
              <span class="pill pill--experience"></span><span class="pill pill--commerce"></span>
            {% elif page.meta.edition == 'lts-update' %}
            <span class="pill pill--lts-update"></span>
            {% endif %}
            </div>
          {% endif %}
          {% include "partials/eol_warning.html" %}
          {{ page.content }}
          <!-- Was this page helpful? -->
          {% include "partials/feedback.html" %}
          {% include "partials/tags.html" %}
        </div>
    {% endblock %}
