<?xml version="1.0" encoding="UTF-8"?>
<Role media-type="application/vnd.ibexa.api.Role+xml" href="/api/ibexa/v2/user/roles/21">
    <identifier>NewRole</identifier>
    <Policies media-type="application/vnd.ibexa.api.PolicyList+xml" href="/api/ibexa/v2/user/roles/21/policies"/>
</Role>
