{
    "ParticipantList": {
        "_media-type": "application/vnd.ibexa.api.ParticipantList+json",
        "Participants": [
            {
                "_media-type": "application/vnd.ibexa.api.InternalParticipant+json",
                "id": 39,
                "name": "Administrator User",
                "scope": "edit",
                "User": {
                    "_media-type": "application/vnd.ibexa.api.User+json",
                    "_href": "/api/ibexa/v2/user/users/14"
                },
                "createdAt": "2024-11-14T11:34:41+00:00",
                "updatedAt": "2024-11-14T11:34:41+00:00"
            },
            {
                "_media-type": "application/vnd.ibexa.api.ExternalParticipant+json",
                "id": 40,
                "name": "user@link.invalid",
                "scope": "view",
                "email": "user@link.invalid",
                "createdAt": "2024-11-14T11:34:41+00:00",
                "updatedAt": "2024-11-14T11:34:41+00:00"
            }
        ]
    }
}