{
    "Price": {
        "_media-type": "application/vnd.ibexa.api.Price+json",
        "id": 1,
        "amount": "12.00",
        "base_amount": "12.00",
        "Currency": {
            "_media-type": "application/vnd.ibexa.api.Currency+json",
            "id": 2,
            "code": "EUR",
            "subunits": 2,
            "enabled": true
        },
        "money": "1200",
        "base_money": "1200"
    }
}