{
    "RoleAssignment": {
        "_media-type": "application/vnd.ibexa.api.RoleAssignment+json",
        "_href": "/api/ibexa/v2/user/groups/1/42/44/roles/1",
        "Role": {
            "_media-type": "application/vnd.ibexa.api.Role+json",
            "_href": "/api/ibexa/v2/user/roles/1"
        }
    }
}
