<?xml version="1.0" encoding="UTF-8"?>
<ShippingMethodType media-type="application/vnd.ibexa.api.ShippingMethodType+xml" href="/api/ibexa/v2/shipping/method-types/flat_rate">
    <identifier>flat_rate</identifier>
    <name>Flat rate</name>
</ShippingMethodType>