{
    "ViewInput": {
        "identifier": "TitleView",
        "Query": {
            "Filter": {
                "ContentTypeIdentifierCriterion": "image",
                "SectionIdentifierCriterion": "media",
                "DateMetadataCriterion": {
                    "Target": "modified",
                    "Value": 1675681020,
                    "Operator": "gte"
                }
            },
            "limit": 10,
            "offset": 0,
            "SortClauses": {
                "ContentName": "ascending"
            },
            "Aggregations": [
                {
                    "ContentTypeTermAggregation": {
                        "name": "some name"
                    }
                }
            ]
        }
    }
}
