{
  "ContentTypeUpdate": {
    "_media-type": "application/vnd.ibexa.api.ContentTypeUpdate",
    "names": {
      "value": [
        {
          "_languageCode": "eng-GB",
          "#text": "Updated content type name"
        }
      ]
    },
    "descriptions": {
      "value": [
        {
          "_languageCode": "eng-GB",
          "#text": "This is an updated content type description"
        }
      ]
    }
  }
}