{% embed 'components/content-header.html.twig' with { node: property, anchor: 'property_' ~ property.name, anchor_link: link(property), header_tag: 'h3' } %}
    {% block name %}
        <img src="./images/{{ property.visibility }}.svg" alt="{{ property.visibility }}" title="{{ property.visibility }}" />
        ${{- parent() -}}
        <span class="property-tags">
            {% if property.writeOnly %}<span class="property-tags__tag">write-only</span>{% endif %}
            {% if property.readOnly %}<span class="property-tags__tag">read-only</span>{% endif %}
        </span>
    {% endblock %}
{% endembed %}
{% include 'components/summary.html.twig' with { node: property } %}
{% include 'components/property-signature.html.twig' with { node: property } %}
{% include 'components/description.html.twig' with { node: property } %}
{% include 'components/description.html.twig' with { node: property.var[0] } %}
{% include 'components/tags.html.twig' with {node: property } %}
{% include 'components/attributes.html.twig' with { node: property } %}
