<span
    class="ds-dropdown-menu ds-with-1 phpdocumentor-search-results phpdocumentor-search-results--hidden"
    role="listbox"
    data-search-results
>
    <button class="phpdocumentor-search-results__close"><i class="fas fa-times"></i></button>
    <div class="ds-dataset-1">
        <ul class="ds-suggestions phpdocumentor-search-results__entries">
        </ul>
    </div>
</span>
