.ibexa-welcome-documentation-hub {
    .ibexa-welcome-circle {
        margin: 16px;
        width: 96px;
        height: 96px;
        background: radial-gradient(
                35.33% 35.33% at 32.17% 6.51%,
                rgba(220, 2, 61, 0.1) 0%,
                rgba(202, 11, 63, 1e-5) 100%
            ),
            #e0e0e8;
    }

    .ibexa-welcome-btn {
        margin: auto 0 0;
    }
}
