$ibexa-welcome-color-main: #ae1164;

$ibexa-welcome-color-dark-600: #0b1117;
$ibexa-welcome-color-dark: #131c26;

$ibexa-welcome-color-light-600: #f9f9fa;
$ibexa-welcome-color-light: #ffffff;

$ibexa-welcome-color-extra-red: #db0032;

$ibexa-welcome-transition: cubic-bezier(0.25, 0.8, 0.25, 1);
$ibexa-welcome-transition-duration: 0.4s;
