{
    "UserGroupRefList": {
        "_media-type": "application/vnd.ez.api.UserGroupRefList+json",
        "_href": "/api/ezp/v2/user/users/57/groups",
        "UserGroup": [
            {
                "_media-type": "application/vnd.ez.api.UserGroup+json",
                "_href": "/api/ezp/v2/user/groups/1/5/13"
            }
        ]
    }
}