{% if menuItems is defined and menuItems is not empty %}
    {% for item in menuItems %}
        <li><a href="{{ ez_path(item.valueObject) }}">{{ ez_content_name(item.valueObject.contentInfo) }}</a></li>
    {% endfor %}
{% endif %}
