{{ fos_httpcache_tag('siso_menu') }}
<nav>
    <h2>{{ 'Our products:'|trans }}</h2>
    <hr>
    {{ ibexa_commerce_product() }}
    <hr>
    <ul class="side-nav js-side-nav" role="navigation">
        {{ knp_menu_render(menu, {'template': '@ibexadesign/Navigation/knp_left_menu.html.twig'}) }}
    </ul>
</nav>
