{
    "Product": {
        "_media-type": "application/vnd.ibexa.api.Product+json",
        "code": "bbbb",
        "name": "fgh",
        "ProductType": {
            "_media-type": "application/vnd.ibexa.api.ProductType+json",
            "identifier": "test_pt321",
            "name": "New Product Type",
            "AttributeAssignmentList": [
                {
                    "_media-type": "application/vnd.ibexa.api.AttributeAssignment+json",
                    "is_required": false,
                    "is_discriminator": true,
                    "Attribute": {
                        "_media-type": "application/vnd.ibexa.api.Attribute+json",
                        "identifier": "testAttr",
                        "name": "testAttr",
                        "description": "",
                        "type": "Checkbox",
                        "group": "Test Attribute group",
                        "position": 0,
                        "options": ""
                    }
                }
            ]
        },
        "Thumbnail": {
            "_media-type": "application/vnd.ibexa.api.Thumbnail+json",
            "resource": "/bundles/ibexaadminui/img/ibexa-icons.svg#file",
            "width": null,
            "height": null,
            "mimeType": "image/svg+xml"
        },
        "created_at": 1646398748,
        "updated_at": 1646398748,
        "AttributesList": [
            {
                "_media-type": "application/vnd.ibexa.api.Attribute+json",
                "identifier": "testAttr",
                "name": "testAttr",
                "description": "",
                "type": "Checkbox",
                "group": "Test Attribute group",
                "position": 0,
                "options": ""
            },
            {
                "_media-type": "application/vnd.ibexa.api.Attribute+json",
                "identifier": "nnnn",
                "name": "nnnn",
                "description": "",
                "type": "Checkbox",
                "group": "Test Attribute group",
                "position": 0,
                "options": ""
            }
        ]
    }
}