{
    "RoleAssignmentList": {
        "_media-type": "application/vnd.ibexa.api.RoleAssignmentList+json",
        "_href": "/api/ibexa/v2/user/groups/1/57/58/roles",
        "RoleAssignment": [
            {
                "_media-type": "application/vnd.ibexa.api.RoleAssignment+json",
                "_href": "/api/ibexa/v2/user/groups/1/57/58/roles/3",
                "limitation": {
                    "_identifier": "Section",
                    "values": {
                        "ref": [
                            {
                                "_media-type": "application/vnd.ibexa.api.ref+json",
                                "_href": "1"
                            }
                        ]
                    }
                },
                "Role": {
                    "_media-type": "application/vnd.ibexa.api.Role+json",
                    "_href": "/api/ibexa/v2/user/roles/3"
                }
            }
        ]
    }
}
