<?xml version="1.0" encoding="UTF-8"?>
<ContentType media-type="application/vnd.ez.api.ContentType+xml" href="/api/ezp/v2/content/types/2">
    <id>2</id>
    <status>DEFINED</status>
    <identifier>article</identifier>
    <names>
        <value languageCode="eng-GB">Article</value>
    </names>
    <descriptions/>
    <creationDate>2002-06-18T11:21:38+02:00</creationDate>
    <modificationDate>2004-04-20T11:56:29+02:00</modificationDate>
    <Creator media-type="application/vnd.ez.api.User+xml" href="/api/ezp/v2/user/users/14"/>
    <Modifier media-type="application/vnd.ez.api.User+xml" href="/api/ezp/v2/user/users/14"/>
    <Groups media-type="application/vnd.ez.api.ContentTypeGroupRefList+xml" href="/api/ezp/v2/content/types/2/groups"/>
    <Draft media-type="application/vnd.ez.api.ContentType+xml" href="/api/ezp/v2/content/types/2/draft"/>
    <remoteId>c15b600eb9198b1924063b5a68758232</remoteId>
    <urlAliasSchema></urlAliasSchema>
    <nameSchema>&lt;short_title|title&gt;</nameSchema>
    <isContainer>true</isContainer>
    <mainLanguageCode>eng-GB</mainLanguageCode>
    <defaultAlwaysAvailable>false</defaultAlwaysAvailable>
    <defaultSortField>PATH</defaultSortField>
    <defaultSortOrder>ASC</defaultSortOrder>
    <FieldDefinitions media-type="application/vnd.ez.api.FieldDefinitionList+xml" href="/api/ezp/v2/content/types/2/fieldDefinitions">
        <FieldDefinition media-type="application/vnd.ez.api.FieldDefinition+xml" href="/api/ezp/v2/content/types/2/fieldDefinitions/1">
            <id>1</id>
            <identifier>title</identifier>
            <fieldType>ezstring</fieldType>
            <fieldGroup></fieldGroup>
            <position>1</position>
            <isTranslatable>true</isTranslatable>
            <isRequired>true</isRequired>
            <isInfoCollector>false</isInfoCollector>
            <defaultValue>New article</defaultValue>
            <isSearchable>true</isSearchable>
            <names>
                <value languageCode="eng-GB">Title</value>
            </names>
            <descriptions/>
            <fieldSettings/>
            <validatorConfiguration>
                <value key="StringLengthValidator">
                    <value key="maxStringLength">255</value>
                    <value key="minStringLength"/></value>
            </validatorConfiguration>
        </FieldDefinition>
        <FieldDefinition media-type="application/vnd.ez.api.FieldDefinition+xml" href="/api/ezp/v2/content/types/2/fieldDefinitions/152">
            <id>152</id>
            <identifier>short_title</identifier>
            <fieldType>ezstring</fieldType>
            <fieldGroup></fieldGroup>
            <position>2</position>
            <isTranslatable>true</isTranslatable>
            <isRequired>false</isRequired>
            <isInfoCollector>false</isInfoCollector>
            <defaultValue/>
            <isSearchable>true</isSearchable>
            <names>
                <value languageCode="eng-GB">Short title</value>
            </names>
            <descriptions/>
            <fieldSettings/>
            <validatorConfiguration>
                <value key="StringLengthValidator">
                    <value key="maxStringLength">255</value>
                    <value key="minStringLength"/></value>
            </validatorConfiguration>
        </FieldDefinition>
        <FieldDefinition media-type="application/vnd.ez.api.FieldDefinition+xml" href="/api/ezp/v2/content/types/2/fieldDefinitions/153">
            <id>153</id>
            <identifier>author</identifier>
            <fieldType>ezauthor</fieldType>
            <fieldGroup></fieldGroup>
            <position>3</position>
            <isTranslatable>true</isTranslatable>
            <isRequired>false</isRequired>
            <isInfoCollector>false</isInfoCollector>
            <defaultValue/>
            <isSearchable>false</isSearchable>
            <names>
                <value languageCode="eng-GB">Author</value>
            </names>
            <descriptions/>
            <fieldSettings>
                <value key="defaultAuthor">1</value>
            </fieldSettings>
            <validatorConfiguration/>
        </FieldDefinition>
        <FieldDefinition media-type="application/vnd.ez.api.FieldDefinition+xml" href="/api/ezp/v2/content/types/2/fieldDefinitions/120">
            <id>120</id>
            <identifier>intro</identifier>
            <fieldType>ezrichtext</fieldType>
            <fieldGroup></fieldGroup>
            <position>4</position>
            <isTranslatable>true</isTranslatable>
            <isRequired>true</isRequired>
            <isInfoCollector>false</isInfoCollector>
            <defaultValue>
                <value key="xml">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;section xmlns=&quot;http://docbook.org/ns/docbook&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;5.0-variant ezpublish-1.0&quot;/&gt;
</value>
                <value key="xhtml5edit">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;section xmlns=&quot;http://ez.no/namespaces/ezpublish5/xhtml5/edit&quot;/&gt;
</value>
            </defaultValue>
            <isSearchable>true</isSearchable>
            <names>
                <value languageCode="eng-GB">Intro</value>
            </names>
            <descriptions/>
            <fieldSettings/>
            <validatorConfiguration/>
        </FieldDefinition>
        <FieldDefinition media-type="application/vnd.ez.api.FieldDefinition+xml" href="/api/ezp/v2/content/types/2/fieldDefinitions/121">
            <id>121</id>
            <identifier>body</identifier>
            <fieldType>ezrichtext</fieldType>
            <fieldGroup></fieldGroup>
            <position>5</position>
            <isTranslatable>true</isTranslatable>
            <isRequired>false</isRequired>
            <isInfoCollector>false</isInfoCollector>
            <defaultValue>
                <value key="xml">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;section xmlns=&quot;http://docbook.org/ns/docbook&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;5.0-variant ezpublish-1.0&quot;/&gt;
</value>
                <value key="xhtml5edit">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;section xmlns=&quot;http://ez.no/namespaces/ezpublish5/xhtml5/edit&quot;/&gt;
</value>
            </defaultValue>
            <isSearchable>true</isSearchable>
            <names>
                <value languageCode="eng-GB">Body</value>
            </names>
            <descriptions/>
            <fieldSettings/>
            <validatorConfiguration/>
        </FieldDefinition>
        <FieldDefinition media-type="application/vnd.ez.api.FieldDefinition+xml" href="/api/ezp/v2/content/types/2/fieldDefinitions/123">
            <id>123</id>
            <identifier>enable_comments</identifier>
            <fieldType>ezboolean</fieldType>
            <fieldGroup></fieldGroup>
            <position>6</position>
            <isTranslatable>false</isTranslatable>
            <isRequired>false</isRequired>
            <isInfoCollector>false</isInfoCollector>
            <defaultValue>false</defaultValue>
            <isSearchable>false</isSearchable>
            <names>
                <value languageCode="eng-GB">Enable comments</value>
            </names>
            <descriptions/>
            <fieldSettings/>
            <validatorConfiguration/>
        </FieldDefinition>
        <FieldDefinition media-type="application/vnd.ez.api.FieldDefinition+xml" href="/api/ezp/v2/content/types/2/fieldDefinitions/154">
            <id>154</id>
            <identifier>image</identifier>
            <fieldType>ezobjectrelation</fieldType>
            <fieldGroup></fieldGroup>
            <position>7</position>
            <isTranslatable>true</isTranslatable>
            <isRequired>false</isRequired>
            <isInfoCollector>false</isInfoCollector>
            <defaultValue>
                <value key="destinationContentId"/>
            </defaultValue>
            <isSearchable>true</isSearchable>
            <names>
                <value languageCode="eng-GB">Image</value>
            </names>
            <descriptions/>
            <fieldSettings>
                <value key="selectionMethod">SELECTION_BROWSE</value>
                <value key="selectionRoot"></value>
                <value key="selectionContentTypes"/>
            </fieldSettings>
            <validatorConfiguration/>
        </FieldDefinition>
    </FieldDefinitions>
</ContentType>
