<?xml version="1.0" encoding="UTF-8"?>
<Trash media-type="application/vnd.ibexa.api.Trash+xml" href="/api/ibexa/v2/content/trash">
    <TrashItem media-type="application/vnd.ibexa.api.TrashItem+xml" href="/api/ibexa/v2/content/trash/58">
        <id>58</id>
        <priority>0</priority>
        <hidden>false</hidden>
        <invisible>false</invisible>
        <ParentLocation media-type="application/vnd.ibexa.api.Location+xml" href="/api/ibexa/v2/content/locations/1/2/56"/>
        <pathString>/1/2/56/58/</pathString>
        <depth>3</depth>
        <childCount>0</childCount>
        <remoteId>59800915ad2eb8514de0bebe84f6ccba</remoteId>
        <Content media-type="application/vnd.ibexa.api.Content+xml" href="/api/ibexa/v2/content/objects/52"/>
        <sortField>PATH</sortField>
        <sortOrder>ASC</sortOrder>
        <ContentInfo media-type="application/vnd.ibexa.api.ContentInfo+xml" href="/api/ibexa/v2/content/objects/52">
            <Content media-type="application/vnd.ibexa.api.ContentInfo+xml" href="/api/ibexa/v2/content/objects/52" remoteId="881da87102313b0354dc2aa8f0e4b63b" id="52">
                <ContentType media-type="application/vnd.ibexa.api.ContentType+xml" href="/api/ibexa/v2/content/types/1"/>
                <Name>Folder 1</Name>
                <Versions media-type="application/vnd.ibexa.api.VersionList+xml" href="/api/ibexa/v2/content/objects/52/versions"/>
                <CurrentVersion media-type="application/vnd.ibexa.api.Version+xml" href="/api/ibexa/v2/content/objects/52/currentversion"/>
                <Section media-type="application/vnd.ibexa.api.Section+xml" href="/api/ibexa/v2/content/sections/1"/>
                <Locations media-type="application/vnd.ibexa.api.LocationList+xml" href="/api/ibexa/v2/content/objects/52/locations"/>
                <Owner media-type="application/vnd.ibexa.api.User+xml" href="/api/ibexa/v2/user/users/14"/>
                <lastModificationDate>2019-02-06T09:03:09+01:00</lastModificationDate>
                <publishedDate>2019-02-06T09:03:09+01:00</publishedDate>
                <mainLanguageCode>eng-GB</mainLanguageCode>
                <currentVersionNo>1</currentVersionNo>
                <alwaysAvailable>true</alwaysAvailable>
                <ObjectStates media-type="application/vnd.ibexa.api.ContentObjectStates+xml" href="/api/ibexa/v2/content/objects/52/objectstates"/>
            </Content>
        </ContentInfo>
    </TrashItem>
</Trash>
