{
    "ActionConfigurationList": {
        "_media-type": "application/vnd.ibexa.api.ai.ActionConfigurationList+json",
        "_href": "/api/ibexa/v2/ai/actions",
        "ActionConfiguration": [
            {
                "_media-type": "application/vnd.ibexa.api.ai.ActionConfiguration+json",
                "Identifier": "proofread_llamafile",
                "Enabled": true,
                "ActionType": {
                    "_media-type": "application/vnd.ibexa.api.ai.ActionType+json",
                    "identifier": "refine_text",
                    "name": "Refine text",
                    "inputIdentifier": "text",
                    "outputIdentifier": "text",
                    "options": {}
                },
                "ActionTypeOptions": {},
                "ActionHandlerIdentifier": "LLaVATextToText",
                "ActionHandlerOptions": {
                    "system_prompt": "Rewrite given text to identify and fix grammatical and punctuation errors. Preserve meaning and crucial information."
                },
                "CreatedAt": "2024-12-30T09:57:02+00:00",
                "UpdatedAt": "2024-12-30T09:57:02+00:00"
            },
            {
                "_media-type": "application/vnd.ibexa.api.ai.ActionConfiguration+json",
                "Identifier": "rewrite_with_friendly_tone",
                "Enabled": true,
                "ActionType": {
                    "_media-type": "application/vnd.ibexa.api.ai.ActionType+json",
                    "identifier": "refine_text",
                    "name": "Refine text",
                    "inputIdentifier": "text",
                    "outputIdentifier": "text",
                    "options": {}
                },
                "ActionTypeOptions": {},
                "ActionHandlerIdentifier": "openai-text-to-text",
                "ActionHandlerOptions": {
                    "max_tokens": 4000,
                    "temperature": 1,
                    "prompt": "Rewrite text in friendly tone. Preserve meaning and crucial information.",
                    "model": "gpt-4-turbo"
                },
                "CreatedAt": "2024-12-09T09:02:44+00:00",
                "UpdatedAt": "2024-12-09T09:02:44+00:00"
            },
            {
                "_media-type": "application/vnd.ibexa.api.ai.ActionConfiguration+json",
                "Identifier": "rewrite_with_professional_tone",
                "Enabled": true,
                "ActionType": {
                    "_media-type": "application/vnd.ibexa.api.ai.ActionType+json",
                    "identifier": "refine_text",
                    "name": "Refine text",
                    "inputIdentifier": "text",
                    "outputIdentifier": "text",
                    "options": {}
                },
                "ActionTypeOptions": {},
                "ActionHandlerIdentifier": "openai-text-to-text",
                "ActionHandlerOptions": {
                    "max_tokens": 4000,
                    "temperature": 1,
                    "prompt": "Rewrite text in professional tone. Preserve meaning and crucial information.",
                    "model": "gpt-4-turbo"
                },
                "CreatedAt": "2024-12-09T09:02:44+00:00",
                "UpdatedAt": "2024-12-09T09:02:44+00:00"
            },
            {
                "_media-type": "application/vnd.ibexa.api.ai.ActionConfiguration+json",
                "Identifier": "summarize_text",
                "Enabled": true,
                "ActionType": {
                    "_media-type": "application/vnd.ibexa.api.ai.ActionType+json",
                    "identifier": "refine_text",
                    "name": "Refine text",
                    "inputIdentifier": "text",
                    "outputIdentifier": "text",
                    "options": {}
                },
                "ActionTypeOptions": {},
                "ActionHandlerIdentifier": "openai-text-to-text",
                "ActionHandlerOptions": {
                    "max_tokens": 4000,
                    "temperature": 1,
                    "prompt": "Summarize text into one sentence. Preserve meaning and crucial information.",
                    "model": "gpt-4-turbo"
                },
                "CreatedAt": "2024-12-09T09:02:44+00:00",
                "UpdatedAt": "2024-12-09T09:02:44+00:00"
            },
            {
                "_media-type": "application/vnd.ibexa.api.ai.ActionConfiguration+json",
                "Identifier": "expand_text",
                "Enabled": true,
                "ActionType": {
                    "_media-type": "application/vnd.ibexa.api.ai.ActionType+json",
                    "identifier": "refine_text",
                    "name": "Refine text",
                    "inputIdentifier": "text",
                    "outputIdentifier": "text",
                    "options": {}
                },
                "ActionTypeOptions": {},
                "ActionHandlerIdentifier": "openai-text-to-text",
                "ActionHandlerOptions": {
                    "max_tokens": 4000,
                    "temperature": 1,
                    "prompt": "Expand the given text by 25%. Preserve meaning and crucial information.",
                    "model": "gpt-4-turbo"
                },
                "CreatedAt": "2024-12-09T09:02:44+00:00",
                "UpdatedAt": "2024-12-09T09:02:44+00:00"
            },
            {
                "_media-type": "application/vnd.ibexa.api.ai.ActionConfiguration+json",
                "Identifier": "shorten_text",
                "Enabled": true,
                "ActionType": {
                    "_media-type": "application/vnd.ibexa.api.ai.ActionType+json",
                    "identifier": "refine_text",
                    "name": "Refine text",
                    "inputIdentifier": "text",
                    "outputIdentifier": "text",
                    "options": {}
                },
                "ActionTypeOptions": {},
                "ActionHandlerIdentifier": "openai-text-to-text",
                "ActionHandlerOptions": {
                    "max_tokens": 4000,
                    "temperature": 1,
                    "prompt": "Shorten the given text by 25%. Preserve meaning and crucial information.",
                    "model": "gpt-4-turbo"
                },
                "CreatedAt": "2024-12-09T09:02:44+00:00",
                "UpdatedAt": "2024-12-09T09:02:44+00:00"
            },
            {
                "_media-type": "application/vnd.ibexa.api.ai.ActionConfiguration+json",
                "Identifier": "proofread",
                "Enabled": true,
                "ActionType": {
                    "_media-type": "application/vnd.ibexa.api.ai.ActionType+json",
                    "identifier": "refine_text",
                    "name": "Refine text",
                    "inputIdentifier": "text",
                    "outputIdentifier": "text",
                    "options": {}
                },
                "ActionTypeOptions": {},
                "ActionHandlerIdentifier": "openai-text-to-text",
                "ActionHandlerOptions": {
                    "max_tokens": 4000,
                    "temperature": 1,
                    "prompt": "Rewrite given text to identify and fix grammatical and punctuation errors. Preserve meaning and crucial information.",
                    "model": "gpt-4-turbo"
                },
                "CreatedAt": "2024-12-09T09:02:44+00:00",
                "UpdatedAt": "2024-12-09T09:02:44+00:00"
            },
            {
                "_media-type": "application/vnd.ibexa.api.ai.ActionConfiguration+json",
                "Identifier": "improve_readability",
                "Enabled": true,
                "ActionType": {
                    "_media-type": "application/vnd.ibexa.api.ai.ActionType+json",
                    "identifier": "refine_text",
                    "name": "Refine text",
                    "inputIdentifier": "text",
                    "outputIdentifier": "text",
                    "options": {}
                },
                "ActionTypeOptions": {},
                "ActionHandlerIdentifier": "openai-text-to-text",
                "ActionHandlerOptions": {
                    "max_tokens": 4000,
                    "temperature": 1,
                    "prompt": "Rewrite this content to improve readability. Preserve meaning and crucial information.",
                    "model": "gpt-4-turbo"
                },
                "CreatedAt": "2024-12-09T09:02:44+00:00",
                "UpdatedAt": "2024-12-09T09:02:44+00:00"
            },
            {
                "_media-type": "application/vnd.ibexa.api.ai.ActionConfiguration+json",
                "Identifier": "gen_alt_text",
                "Enabled": true,
                "ActionType": {
                    "_media-type": "application/vnd.ibexa.api.ai.ActionType+json",
                    "identifier": "generate_alt_text",
                    "name": "Generate alternative text",
                    "inputIdentifier": "image",
                    "outputIdentifier": "text",
                    "options": {
                        "width": 512,
                        "height": 512,
                        "image_quality": 85
                    }
                },
                "ActionTypeOptions": {
                    "max_length": 140
                },
                "ActionHandlerIdentifier": "openai-image-to-text",
                "ActionHandlerOptions": {
                    "max_tokens": 4000,
                    "temperature": 1,
                    "prompt": "",
                    "model": "gpt-4-turbo"
                },
                "CreatedAt": "2024-12-09T09:02:44+00:00",
                "UpdatedAt": "2024-12-09T09:02:44+00:00"
            }
        ]
    }
}
