{
    "Root": {
        "_media-type": "application\/vnd.ibexa.api.Root+json",
        "content": {
            "_media-type": "",
            "_href": "\/api\/ibexa\/v2\/content\/objects"
        },
        "contentByRemoteId": {
            "_media-type": "",
            "_href": "\/api\/ibexa\/v2\/content\/objects{?remoteId}"
        },
        "contentTypes": {
            "_media-type": "application\/vnd.ibexa.api.ContentTypeInfoList+json",
            "_href": "\/api\/ibexa\/v2\/content\/types"
        },
        "contentTypeByIdentifier": {
            "_media-type": "",
            "_href": "\/api\/ibexa\/v2\/content\/types{?identifier}"
        },
        "contentTypeGroups": {
            "_media-type": "application\/vnd.ibexa.api.ContentTypeGroupList+json",
            "_href": "\/api\/ibexa\/v2\/content\/typegroups"
        },
        "contentTypeGroupByIdentifier": {
            "_media-type": "",
            "_href": "\/api\/ibexa\/v2\/content\/typegroups{?identifier}"
        },
        "users": {
            "_media-type": "application\/vnd.ibexa.api.UserRefList+json",
            "_href": "\/api\/ibexa\/v2\/user\/users"
        },
        "usersByRoleId": {
            "_media-type": "application\/vnd.ibexa.api.UserRefList+json",
            "_href": "\/api\/ibexa\/v2\/user\/users{?roleId}"
        },
        "usersByRemoteId": {
            "_media-type": "application\/vnd.ibexa.api.UserRefList+json",
            "_href": "\/api\/ibexa\/v2\/user\/users{?remoteId}"
        },
        "usersByEmail": {
            "_media-type": "application\/vnd.ibexa.api.UserRefList+json",
            "_href": "\/api\/ibexa\/v2\/user\/users{?email}"
        },
        "usersByLogin": {
            "_media-type": "application\/vnd.ibexa.api.UserRefList+json",
            "_href": "\/api\/ibexa\/v2\/user\/users{?login}"
        },
        "roles": {
            "_media-type": "application\/vnd.ibexa.api.RoleList+json",
            "_href": "\/api\/ibexa\/v2\/user\/roles"
        },
        "rootLocation": {
            "_media-type": "application\/vnd.ibexa.api.Location+json",
            "_href": "\/api\/ibexa\/v2\/content\/locations\/1\/2"
        },
        "rootUserGroup": {
            "_media-type": "application\/vnd.ibexa.api.UserGroup+json",
            "_href": "\/api\/ibexa\/v2\/user\/groups\/1\/5"
        },
        "rootMediaFolder": {
            "_media-type": "application\/vnd.ibexa.api.Location+json",
            "_href": "\/api\/ibexa\/v2\/content\/locations\/1\/43"
        },
        "locationByRemoteId": {
            "_media-type": "",
            "_href": "\/api\/ibexa\/v2\/content\/locations{?remoteId}"
        },
        "locationByPath": {
            "_media-type": "",
            "_href": "\/api\/ibexa\/v2\/content\/locations{?locationPath}"
        },
        "trash": {
            "_media-type": "application\/vnd.ibexa.api.Trash+json",
            "_href": "\/api\/ibexa\/v2\/content\/trash"
        },
        "sections": {
            "_media-type": "application\/vnd.ibexa.api.SectionList+json",
            "_href": "\/api\/ibexa\/v2\/content\/sections"
        },
        "views": {
            "_media-type": "application\/vnd.ibexa.api.RefList+json",
            "_href": "\/api\/ibexa\/v2\/views"
        },
        "objectStateGroups": {
            "_media-type": "application\/vnd.ibexa.api.ObjectStateGroupList+json",
            "_href": "\/api\/ibexa\/v2\/content\/objectstategroups"
        },
        "objectStates": {
            "_media-type": "application\/vnd.ibexa.api.ObjectStateList+json",
            "_href": "\/api\/ibexa\/v2\/content\/objectstategroups\/{objectStateGroupId}\/objectstates"
        },
        "globalUrlAliases": {
            "_media-type": "application\/vnd.ibexa.api.UrlAliasRefList+json",
            "_href": "\/api\/ibexa\/v2\/content\/urlaliases"
        },
        "urlWildcards": {
            "_media-type": "application\/vnd.ibexa.api.UrlWildcardList+json",
            "_href": "\/api\/ibexa\/v2\/content\/urlwildcards"
        },
        "createSession": {
            "_media-type": "application\/vnd.ibexa.api.UserSession+json",
            "_href": "\/api\/ibexa\/v2\/user\/sessions"
        },
        "refreshSession": {
            "_media-type": "application\/vnd.ibexa.api.UserSession+json",
            "_href": "\/api\/ibexa\/v2\/user\/sessions\/{sessionId}\/refresh"
        },
        "createToken": {
            "_media-type": "application\/vnd.ibexa.api.JWT+json",
            "_href": "\/api\/ibexa\/v2\/user\/token\/jwt"
        }
    }
}
