{
    "Price": {
        "_media-type": "application/vnd.ibexa.api.Price+json",
        "id": 4,
        "amount": "0.09",
        "base_amount": "0.09",
        "Currency": {
            "_media-type": "application/vnd.ibexa.api.Currency+json",
            "id": 94,
            "code": "CHF",
            "subunits": 2,
            "enabled": true
        },
        "money": "9",
        "base_money": "9"
    }
}
